# Credit Modelling 

### Can Machine Learning Model If A Borrower Pays Off A Loan On Time Or Not?

###### We will be looking at credit risk using finacial lending data from [lending club](https://www.lendingclub.com/). The dataset includes only the approved loans nad 

###### The dictionary explaining the columns of data is found at [here](https://docs.google.com/spreadsheets/d/191B2yJ4H1ZPXq0_ByhUgWMFZOYem5jFz0Y3by_7YBY4/edit)

###### They offer a marketplace for peer lending. Borrowers risk are evaluated by the club using a wide range of the borrowers finanicial information to assing them an interest rate.

###### A high interest rate is a measure of the risk. A low risk investment will therefore give low but nearly guaranteed returns.

###### Investors are mainly interested in receiving the best overall returns on investments so balancing risk and rewards is key.

###### In this project we will be putting our minds in that of a conservative investor who only wants to invest in the loans that have a good chance of being paid off on time. 

###### To do this we will need to understand the data, ensure no data 'leakages', perform feature engineering then create and test machine learning models.

In [1]:
import pandas as pd
import numpy as np
import random as random
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_predict

loans_2007 = pd.read_csv('loans_2007.csv')
data_dictionary = pd.read_csv('LCDataDictionary.xlsx - LoanStats.csv')

/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
loans_2007

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.000000,36 months,10.65%,162.87,B,B2,...,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.000000,60 months,15.27%,59.83,C,C4,...,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.000000,36 months,15.96%,84.33,C,C5,...,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.000000,36 months,13.49%,339.31,C,C1,...,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.000000,60 months,12.69%,67.79,B,B5,...,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
5,1075269,1311441.0,5000.0,5000.0,5000.000000,36 months,7.90%,156.46,A,A4,...,161.03,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
6,1069639,1304742.0,7000.0,7000.0,7000.000000,60 months,15.96%,170.08,C,C5,...,1313.76,May-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
7,1072053,1288686.0,3000.0,3000.0,3000.000000,36 months,18.64%,109.43,E,E1,...,111.34,Dec-2014,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
8,1071795,1306957.0,5600.0,5600.0,5600.000000,60 months,21.28%,152.39,F,F2,...,152.39,Aug-2012,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
9,1071570,1306721.0,5375.0,5375.0,5350.000000,60 months,12.69%,121.45,B,B5,...,121.45,Mar-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
10,1070078,1305201.0,6500.0,6500.0,6500.000000,60 months,14.65%,153.45,C,C3,...,1655.54,Dec-2015,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
11,1069908,1305008.0,12000.0,12000.0,12000.000000,36 months,12.69%,402.54,B,B5,...,6315.30,Aug-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
12,1064687,1298717.0,9000.0,9000.0,9000.000000,36 months,13.49%,305.38,C,C1,...,305.38,Nov-2012,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
13,1069866,1304956.0,3000.0,3000.0,3000.000000,36 months,9.91%,96.68,B,B1,...,102.43,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
14,1069057,1303503.0,10000.0,10000.0,10000.000000,36 months,10.65%,325.74,B,B2,...,325.74,Mar-2014,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
15,1069759,1304871.0,1000.0,1000.0,1000.000000,36 months,16.29%,35.31,D,D1,...,36.32,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
16,1065775,1299699.0,10000.0,10000.0,10000.000000,36 months,15.27%,347.98,C,C4,...,370.46,Apr-2015,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
17,1069971,1304884.0,3600.0,3600.0,3600.000000,36 months,6.03%,109.57,A,A1,...,583.45,May-2014,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
18,1062474,1294539.0,6000.0,6000.0,6000.000000,36 months,11.71%,198.46,B,B3,...,16.98,Jul-2015,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
19,1069742,1304855.0,9200.0,9200.0,9200.000000,36 months,6.03%,280.01,A,A1,...,8061.10,Feb-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
20,1069740,1284848.0,20250.0,20250.0,19142.161077,60 months,15.27%,484.63,C,C4,...,6024.09,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
21,1039153,1269083.0,21000.0,21000.0,21000.000000,36 months,12.42%,701.73,B,B4,...,701.73,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
22,1069710,1304821.0,10000.0,10000.0,10000.000000,36 months,11.71%,330.76,B,B3,...,349.21,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
23,1069700,1304810.0,10000.0,10000.0,10000.000000,36 months,11.71%,330.76,B,B3,...,4942.63,Mar-2014,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
24,1069559,1304634.0,6000.0,6000.0,6000.000000,36 months,11.71%,198.46,B,B3,...,198.46,Mar-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
25,1069697,1273773.0,15000.0,15000.0,15000.000000,36 months,9.91%,483.38,B,B1,...,2447.05,Sep-2012,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
26,1069800,1304679.0,15000.0,15000.0,8725.000000,36 months,14.27%,514.64,C,C2,...,0.00,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
27,1069657,1304764.0,5000.0,5000.0,5000.000000,60 months,16.77%,123.65,D,D2,...,123.65,May-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
28,1069799,1304678.0,4000.0,4000.0,4000.000000,36 months,11.71%,132.31,B,B3,...,2638.77,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
29,1047704,1278806.0,8500.0,8500.0,8500.000000,36 months,11.71%,281.15,B,B3,...,581.59,Jan-2015,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42508,91175,91170.0,6000.0,6000.0,1200.000000,36 months,13.12%,202.51,D,D5,...,204.65,Sep-2012,NaN,1.0,INDIVIDUAL,0.0,NaN,0.0,NaN,NaN
42509,91126,91067.0,5350.0,5350.0,625.000000,36 months,13.12%,180.57,D,D5,...,1056.94,Jul-2013,NaN,1.0,INDIVIDUAL,0.0,NaN,0.0,NaN,NaN
42510,91023,70879.0,1900.0,1900.0,900.000000,36 months,9.64%,61.00,B,B4,...,0.00,May-2007,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42511,90106,90090.0,10000.0,10000.0,350.000000,36 months,14.70%,345.18,E,E5,...,1605.65,Aug-2010,NaN,1.0,INDIVIDUAL,0.0,NaN,0.0,NaN,NaN
42512,89258,80039.0,2000.0,2000.0,1275.000000,36 months,7.12%,61.87,A,A1,...,63.59,Jun-2010,NaN,1.0,INDIVIDUAL,0.0,NaN,0.0,NaN,NaN
42513,88637,88629.0,6000.0,6000.0,650.000000,36 months,10.59%,195.28,C,C2,...,197.36,Oct-2014,NaN,1.0,INDIVIDUAL,0.0,NaN,0.0,NaN,NaN
42514,88046,88023.0,4400.0,4400.0,1400.000000,36 months,9.64%,141.25,B,B4,...,143.28,Feb-2015,NaN,1.0,INDIVIDUAL,0.0,NaN,0.0,NaN,NaN
42515,85961,85923.0,1200.0,1200.0,500.000000,36 months,9.01%,38.17,B,B2,...,39.05,Jun-2016,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42516,85818,85802.0,5000.0,5000.0,375.000000,36 months,11.22%,164.23,C,C4,...,149.43,Apr-2010,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42517,85781,85727.0,1400.0,1400.0,475.000000,36 months,10.91%,45.78,C,C3,...,1.78,Sep-2014,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42518,85675,85667.0,1000.0,1000.0,625.000000,36 months,14.07%,34.21,E,E3,...,35.27,Jun-2010,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42519,84670,79576.0,5000.0,5000.0,300.000000,36 months,7.75%,156.11,A,A3,...,1663.91,Aug-2009,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42520,84098,84091.0,2500.0,2500.0,225.000000,36 months,7.43%,77.69,A,A2,...,0.00,Jun-2007,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42521,83979,83974.0,3000.0,3000.0,250.000000,36 months,7.43%,93.23,A,A2,...,0.00,Jun-2007,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42522,83489,83471.0,2600.0,2600.0,575.000000,36 months,8.38%,81.94,A,A5,...,21.75,Mar-2010,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42523,83185,83132.0,1000.0,1000.0,625.000000,36 months,7.12%,30.94,A,A1,...,32.93,Apr-2014,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42524,74014,73890.0,6450.0,6450.0,0.000000,36 months,11.22%,211.85,C,C4,...,167.78,Jun-2010,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42525,76629,76623.0,1275.0,1275.0,0.000000,36 months,12.49%,42.65,D,D3,...,42.65,Jun-2016,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42526,81085,80973.0,10500.0,10500.0,275.000000,36 months,11.22%,344.87,C,C4,...,0.00,Jun-2007,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42527,77792,77764.0,3000.0,3000.0,125.000000,36 months,9.01%,95.42,B,B2,...,95.66,Jun-2010,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42528,77757,70626.0,3000.0,3000.0,0.000000,36 months,9.33%,95.86,B,B3,...,96.77,May-2007,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42529,74505,74469.0,2000.0,2000.0,225.000000,36 months,9.96%,64.50,B,B5,...,0.84,Jul-2010,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42530,74323,74301.0,6500.0,6500.0,0.000000,36 months,9.64%,208.66,B,B4,...,208.65,Jun-2016,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42531,73582,73096.0,3500.0,3500.0,225.000000,36 months,10.28%,113.39,C,C1,...,0.00,Feb-2013,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42532,72998,72992.0,1000.0,1000.0,0.000000,36 months,9.64%,32.11,B,B4,...,32.41,Sep-2014,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42533,72176,70868.0,2525.0,2525.0,225.000000,36 months,9.33%,80.69,B,B3,...,82.03,May-2007,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42534,71623,70735.0,6500.0,6500.0,0.000000,36 months,8.38%,204.84,A,A5,...,205.32,Aug-2007,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42535,70686,70681.0,5000.0,5000.0,0.000000,36 months,7.75%,156.11,A,A3,...,156.39,Feb-2015,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
42536,Total amount funded in policy code 1: 471701350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42537,Total amount funded in policy code 2: 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
loans_2007.shape

(42538, 52)

###### The Data Dictionary contains rows for Loans, Rejections and Internal Notes.

###### Lets filter this to show only rows that are of interest to Loans

In [4]:
data_dictionary.sample(5)

            LoanStatNew                                        Description
95                title            The loan title provided by the borrower
29  initial_list_status  The initial listing status of the loan. Possib...
89           recoveries                     post charge off gross recovery
67  num_rev_tl_bal_gt_0         Number of revolving trades with balance >0
22       fico_range_low  The lower boundary range the borrowers FICO a...

In [5]:
loans_dictionary = data_dictionary[data_dictionary['LoanStatNew'].isin(loans_2007.columns)]
#Print each row as Juptyer truncates the description usually#
for index, row in loans_dictionary.iterrows():
    print(row['LoanStatNew'], '-----', row['Description'])
    print('First value:', loans_2007[row['LoanStatNew']][0], 'of type', type(loans_2007[row['LoanStatNew']][0]))
    print('\n')

acc_now_delinq ----- The number of accounts on which the borrower is now delinquent.
First value: 0.0 of type <class 'numpy.float64'>


addr_state ----- The state provided by the borrower in the loan application
First value: AZ of type <class 'str'>


annual_inc ----- The self-reported annual income provided by the borrower during registration.
First value: 24000.0 of type <class 'numpy.float64'>


application_type ----- Indicates whether the loan is an individual application or a joint application with two co-borrowers
First value: INDIVIDUAL of type <class 'str'>


chargeoff_within_12_mths ----- Number of charge-offs within 12 months
First value: 0.0 of type <class 'numpy.float64'>


collection_recovery_fee ----- post charge off collection fee
First value: 0.0 of type <class 'numpy.float64'>


collections_12_mths_ex_med ----- Number of collections in 12 months excluding medical collections
First value: 0.0 of type <class 'numpy.float64'>


delinq_2yrs ----- The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years
First value: 0.0 of type <class 'numpy.float64'>


delinq_amnt ----- The past-due amount owed for the accounts on which the borrower is now delinquent.
First value: 0.0 of type <class 'numpy.float64'>


dti ----- A ratio calculated using the borrowers total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrowers self-reported monthly income.
First value: 27.65 of type <class 'numpy.float64'>


earliest_cr_line ----- The month the borrower's earliest reported credit line was opened
First value: Jan-1985 of type <class 'str'>


emp_length ----- Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.
First value: 10+ years of type <class 'str'>


emp_title ----- The job title supplied by the Borrower when applying for the loan.*
First value: nan of type <class 'float'>


funded_amnt ----- The total amount committed to that loan at that point in time.
First value: 5000.0 of type <class 'numpy.float64'>


funded_amnt_inv ----- The total amount committed by investors for that loan at that point in time.
First value: 4975.0 of type <class 'numpy.float64'>


grade ----- LC assigned loan grade
First value: B of type <class 'str'>


home_ownership ----- The home ownership status provided by the borrower during registration. Our values are: RENT, OWN, MORTGAGE, OTHER.
First value: RENT of type <class 'str'>


id ----- A unique LC assigned ID for the loan listing.
First value: 1077501 of type <class 'int'>


initial_list_status ----- The initial listing status of the loan. Possible values are  W, F
First value: f of type <class 'str'>


inq_last_6mths ----- The number of inquiries in past 6 months (excluding auto and mortgage inquiries)
First value: 1.0 of type <class 'numpy.float64'>


installment ----- The monthly payment owed by the borrower if the loan originates.
First value: 162.87 of type <class 'numpy.float64'>


int_rate ----- Interest Rate on the loan
First value:  10.65% of type <class 'str'>


issue_d ----- The month which the loan was funded
First value: Dec-2011 of type <class 'str'>


last_credit_pull_d ----- The most recent month LC pulled credit for this loan
First value: Jun-2016 of type <class 'str'>


last_pymnt_amnt ----- Last total payment amount received
First value: 171.62 of type <class 'numpy.float64'>


last_pymnt_d ----- Last month payment was received
First value: Jan-2015 of type <class 'str'>


loan_amnt ----- The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value.
First value: 5000.0 of type <class 'numpy.float64'>


loan_status ----- Current status of the loan
First value: Fully Paid of type <class 'str'>


member_id ----- A unique LC assigned Id for the borrower member.
First value: 1296599.0 of type <class 'numpy.float64'>


open_acc ----- The number of open credit lines in the borrower's credit file.
First value: 3.0 of type <class 'numpy.float64'>


out_prncp ----- Remaining outstanding principal for total amount funded
First value: 0.0 of type <class 'numpy.float64'>


out_prncp_inv ----- Remaining outstanding principal for portion of total amount funded by investors
First value: 0.0 of type <class 'numpy.float64'>


policy_code ----- publicly available policy_code=1
new products not publicly available policy_code=2
First value: 1.0 of type <class 'numpy.float64'>


pub_rec ----- Number of derogatory public records
First value: 0.0 of type <class 'numpy.float64'>


pub_rec_bankruptcies ----- Number of public record bankruptcies
First value: 0.0 of type <class 'numpy.float64'>


purpose ----- A category provided by the borrower for the loan request.
First value: credit_card of type <class 'str'>


pymnt_plan ----- Indicates if a payment plan has been put in place for the loan
First value: n of type <class 'str'>


recoveries ----- post charge off gross recovery
First value: 0.0 of type <class 'numpy.float64'>


revol_bal ----- Total credit revolving balance
First value: 13648.0 of type <class 'numpy.float64'>


revol_util ----- Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.
First value: 83.7% of type <class 'str'>


sub_grade ----- LC assigned loan subgrade
First value: B2 of type <class 'str'>


tax_liens ----- Number of tax liens
First value: 0.0 of type <class 'numpy.float64'>


term ----- The number of payments on the loan. Values are in months and can be either 36 or 60.
First value:  36 months of type <class 'str'>


title ----- The loan title provided by the borrower
First value: Computer of type <class 'str'>


total_acc ----- The total number of credit lines currently in the borrower's credit file
First value: 9.0 of type <class 'numpy.float64'>


total_pymnt ----- Payments received to date for total amount funded
First value: 5863.1551866952 of type <class 'numpy.float64'>


total_pymnt_inv ----- Payments received to date for portion of total amount funded by investors
First value: 5833.84 of type <class 'numpy.float64'>


total_rec_int ----- Interest received to date
First value: 863.16 of type <class 'numpy.float64'>


total_rec_late_fee ----- Late fees received to date
First value: 0.0 of type <class 'numpy.float64'>


total_rec_prncp ----- Principal received to date
First value: 5000.0 of type <class 'numpy.float64'>


verification_status ----- Indicates if income was verified by LC, not verified, or if the income source was verified
First value: Verified of type <class 'str'>


zip_code ----- The first 3 numbers of the zip code provided by the borrower in the loan application.
First value: 860xx of type <class 'str'>

### Feature Engineering - Removing Redundant Features

###### Our learning model will be predicting if a loan will be approved. Certain features here show information that could not be know pre-application:
- collection_recovery_fee, funded_amt, funded_amnt_inv, grade, 'initial_list_status', issue_d, 'last_credit_pull_d'
- last_pymnt_amnt, last_pymnt_d, 'loan_amnt', out_prncp, out_prncp_inv, 'pymnt_plan', 'revol_util', sub_grade, total_pymnt, total_pymnt_inv, total_rec_int, total_rec_late_fee, 

###### Some features provide no value:
- id, member_id, 'policy_code', recoveries, zip_code

###### Some features provide to much information to the point that per unique value there is very little information (can cause high bias):
- emp_title

In [6]:
redundant_columns = ['collection_recovery_fee', 'emp_title', 'funded_amnt',
 'funded_amnt_inv', 'grade', 'id', 'initial_list_status',
 'issue_d', 'last_credit_pull_d', 'last_pymnt_amnt', 'last_pymnt_d',
 'loan_amnt',  'member_id', 'out_prncp', 'out_prncp_inv', 'policy_code', 
 'pymnt_plan', 'recoveries', 'revol_util', 'sub_grade', 
 'total_pymnt', 'total_pymnt_inv', 'total_rec_int', 'total_rec_late_fee',
 'total_rec_prncp', 'zip_code']
loans_2007 = loans_2007.drop(columns = redundant_columns)

In [7]:
loans_2007.describe(include = 'all')

,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,title,...,pub_rec,revol_bal,total_acc,collections_12_mths_ex_med,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
count,42535,42535,42535.000000,41423,42535,4.253100e+04,42535,42535,42535,42522,...,42506.000000,4.253500e+04,42506.000000,42390.0,42535,42506.000000,42390.0,42506.000000,41170.000000,42430.000000
unique,2,394,NaN,11,5,NaN,3,9,14,21264,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
top,36 months,10.99%,NaN,10+ years,RENT,NaN,Not Verified,Fully Paid,debt_consolidation,Debt Consolidation,...,NaN,NaN,NaN,NaN,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN
freq,31534,970,NaN,9369,20181,NaN,18758,33136,19776,2259,...,NaN,NaN,NaN,NaN,42535,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,322.623063,NaN,NaN,6.913656e+04,NaN,NaN,NaN,NaN,...,0.058156,1.429786e+04,22.124406,0.0,NaN,0.000094,0.0,0.143039,0.045227,0.000024
std,NaN,NaN,208.927216,NaN,NaN,6.409635e+04,NaN,NaN,NaN,NaN,...,0.245713,2.201844e+04,11.592811,0.0,NaN,0.009700,0.0,29.359579,0.208737,0.004855
min,NaN,NaN,15.670000,NaN,NaN,1.896000e+03,NaN,NaN,NaN,NaN,...,0.000000,0.000000e+00,1.000000,0.0,NaN,0.000000,0.0,0.000000,0.000000,0.000000
25%,NaN,NaN,165.520000,NaN,NaN,4.000000e+04,NaN,NaN,NaN,NaN,...,0.000000,3.635000e+03,13.000000,0.0,NaN,0.000000,0.0,0.000000,0.000000,0.000000
50%,NaN,NaN,277.690000,NaN,NaN,5.900000e+04,NaN,NaN,NaN,NaN,...,0.000000,8.821000e+03,20.000000,0.0,NaN,0.000000,0.0,0.000000,0.000000,0.000000
75%,NaN,NaN,428.180000,NaN,NaN,8.250000e+04,NaN,NaN,NaN,NaN,...,0.000000,1.725100e+04,29.000000,0.0,NaN,0.000000,0.0,0.000000,0.000000,0.000000
max,NaN,NaN,1305.190000,NaN,NaN,6.000000e+06,NaN,NaN,NaN,NaN,...,5.000000,1.207359e+06,90.000000,0.0,NaN,1.000000,0.0,6053.000000,2.000000,1.000000

###### Some features here have no variation in their values: 'collections_12_mths_ex_med'  & 'chargeoff_within_12_mths' all have 0.0 results throughout. There is no value in these columns. We will drop these also.

In [8]:
loans_2007 = loans_2007.drop(columns = ['collections_12_mths_ex_med', 'chargeoff_within_12_mths', 'tax_liens'])

###### Next lets review any columns that have only one unique_value. Clearly here there will be no value for machine learning.

In [9]:
drop_columns = []
for column in loans_2007.columns:
    values = loans_2007[column].dropna()
    unique_values = values.unique()
    if len(unique_values) == 1:
        drop_columns.append(column)
        
loans_2007 = loans_2007.drop(columns = drop_columns)
print(sorted(drop_columns))

['application_type']

### Target Engineering

###### Next lets look at our target column which here is the 'loan_status'

In [10]:
loans_2007['loan_status'].value_counts(dropna = False)

Fully Paid                                             33136
Charged Off                                             5634
Does not meet the credit policy. Status:Fully Paid      1988
Current                                                  961
Does not meet the credit policy. Status:Charged Off      761
Late (31-120 days)                                        24
In Grace Period                                           20
Late (16-30 days)                                          8
Default                                                    3
NaN                                                        3
Name: loan_status, dtype: int64

###### Our interest here lies only with loans that were fully paid or not.

###### Therefore we will only use rows with Fully Paid and Charged Off

In [11]:
loans_2007 = loans_2007[(loans_2007['loan_status'] == 'Fully Paid') | (loans_2007['loan_status'] == 'Charged Off')]

###### Quick check to confirm it works.

In [12]:
loans_2007['loan_status'].value_counts()

Fully Paid     33136
Charged Off     5634
Name: loan_status, dtype: int64

###### Now that we have just two types a loan repaid and a loan not repaid we must represent this in numerics for machine learning. 

###### A paid loan will be set to 1 and unpaid set to 0

In [13]:
paid_unpaid_dict = {'loan_status' : {'Fully Paid' :1, 'Charged Off': 0}}
loans_2007 = loans_2007.replace(paid_unpaid_dict)
loans_2007.head()

,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,title,...,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,total_acc,acc_now_delinq,delinq_amnt,pub_rec_bankruptcies
0,36 months,10.65%,162.87,10+ years,RENT,24000.0,Verified,1,credit_card,Computer,...,0.0,Jan-1985,1.0,3.0,0.0,13648.0,9.0,0.0,0.0,0.0
1,60 months,15.27%,59.83,< 1 year,RENT,30000.0,Source Verified,0,car,bike,...,0.0,Apr-1999,5.0,3.0,0.0,1687.0,4.0,0.0,0.0,0.0
2,36 months,15.96%,84.33,10+ years,RENT,12252.0,Not Verified,1,small_business,real estate business,...,0.0,Nov-2001,2.0,2.0,0.0,2956.0,10.0,0.0,0.0,0.0
3,36 months,13.49%,339.31,10+ years,RENT,49200.0,Source Verified,1,other,personel,...,0.0,Feb-1996,1.0,10.0,0.0,5598.0,37.0,0.0,0.0,0.0
5,36 months,7.90%,156.46,3 years,RENT,36000.0,Source Verified,1,wedding,My wedding loan I promise to pay back,...,0.0,Nov-2004,3.0,9.0,0.0,7963.0,12.0,0.0,0.0,0.0

### Feature Engineering - Missing Data

###### Machine learning cannot handle missing data, unfortunately real data is often 'messy' and incomplete.

###### Lets check for missing data

In [14]:
null_counts = loans_2007.isnull().sum()
print('Null Counts:','\n')
print(null_counts[null_counts > 0])
print('\n')
print('Total Rows =', len(loans_2007))

Null Counts:

emp_length              1036
title                     11
pub_rec_bankruptcies     697
dtype: int64


Total Rows = 38770

###### Lets see the value counts (as decimal proportions) of each of these variables, making sure to include any N/A values.

In [15]:
for column in ['emp_length', 'title', 'pub_rec_bankruptcies']:
    null_counts_df = pd.DataFrame()
    print(column)
    null_counts_df['value'] = loans_2007[column].value_counts(normalize = True).index
    null_counts_df['counts'] = loans_2007[column].value_counts(normalize = True).values
    print(null_counts_df.sort_values(by='counts'))
    print('n/a proportion:')
    print(loans_2007[column].isnull().sum() / len(loans_2007))
    print('\n')

emp_length
        value    counts
10    9 years  0.032570
9     8 years  0.038268
8     7 years  0.045529
7     6 years  0.057799
6      1 year  0.084354
5     5 years  0.085043
4     4 years  0.089097
3     3 years  0.106694
2     2 years  0.114168
1    < 1 year  0.119971
0   10+ years  0.226507
n/a proportion:
0.02672169202992004


title
                                             value    counts
9682                                       medloan  0.000026
12912                        Bye Bye Credit Cards!  0.000026
12911                             Volkswagen Jetta  0.000026
12910                                        brown  0.000026
12909                           DECEMBER 2011 LOAN  0.000026
12908                                    A's2Zee's  0.000026
12907                          Roll it into 1 loan  0.000026
12913                     get out credit card debt  0.000026
12906                                Shed the Debt  0.000026
12904                    Tired of Credit Companies  0.000026
12903                                          Dad  0.000026
12902                  Refinancing my Credit Cards  0.000026
12901                                 nursing exam  0.000026
12900                          investment gauranty  0.000026
12899                       Citi/Chase Card Payoff  0.000026
12905       Consolidating high APR/interest credit  0.000026
12914                                          b2b  0.000026
12915                                 Debt be Gone  0.000026
12916  Home Improvement for High Income individual  0.000026
12931                   Jason's Consolidation Loan  0.000026
12930                         Deepak Personal Loan  0.000026
12929                                     old debt  0.000026
12928         Consolidate debt and pay for wedding  0.000026
12927                                          med  0.000026
12926     Furnishing our House for 3rd Anniversary  0.000026
12925              Pay off debt and start buisness  0.000026
12924                            Credit Card repay  0.000026
12923                        music production loan  0.000026
12922                    Upgrade Kitchen and Baths  0.000026
12921                                ATV for x-mas  0.000026
...                                            ...       ...
29                                    Credit Cards  0.002348
28                                         My Loan  0.002374
27                                home improvement  0.002761
26                                     Credit Card  0.002967
25                                         Medical  0.003044
24                                     Consolidate  0.003225
23                             Major Purchase Loan  0.003586
22                           Credit Card Refinance  0.003689
21                                         Wedding  0.003844
20                              Credit Card Payoff  0.003870
19                                      Other Loan  0.004670
18                                   consolidation  0.004979
17                                        Car Loan  0.005031
16                                    Wedding Loan  0.005186
15                                            Loan  0.005366
14                                        personal  0.005470
13                                   personal loan  0.005883
12                           Home Improvement Loan  0.006037
11                              Consolidation Loan  0.006476
10                                        Personal  0.007792
9                                 Credit Card Loan  0.007869
8                              Small Business Loan  0.007998
7                               Debt consolidation  0.008359
6                                 Home Improvement  0.008927
5                        Credit Card Consolidation  0.009108
4                               debt consolidation  0.012513
3                                    Consolidation  0.012771
2                                    Personal Loan  0.016564
1                          Debt Consolidation Loan  0.042132
0                               Debt Consolidation  0.054336

[19365 rows x 2 columns]
n/a proportion:
0.0002837245292752128


pub_rec_bankruptcies
   value    counts
2    2.0  0.000131
1    1.0  0.043233
0    0.0  0.956636
n/a proportion:
0.017977817900438484

###### Pub_rec_bankruptcies (The number of public record bankruptcies) is disproportionately one value. This will cause high bias and we will drop this column.

###### Removing the rows with employment length and title will lose 3% and 0.03% of the data respectively. We will drop rows where title data is missing.

###### For employment length we know this is likely to be a significant factor (reviewed later), and could cause issues if we try to impute (enter values using a statistical metric) the values.

In [16]:
loans_2007 = loans_2007.drop(columns= ['pub_rec_bankruptcies'])
loans_2007 = loans_2007.dropna(axis = 'rows')

### Feature Engineering - Numerical Conversions

###### Next step is to check we have data suitable for machine learning. This will need to be of type int or float. (A true integer that is recorded as a float will not affect the model)

In [17]:
loans_2007.dtypes.value_counts()

float64    11
object      9
int64       1
dtype: int64

In [18]:
loans_2007.columns[loans_2007.dtypes == object]

Index(['term', 'int_rate', 'emp_length', 'home_ownership',
       'verification_status', 'purpose', 'title', 'addr_state',
       'earliest_cr_line'],
      dtype='object')

In [19]:
non_numerical_data = loans_2007[loans_2007.columns[loans_2007.dtypes == object]]
non_numerical_data.head()

,term,int_rate,emp_length,home_ownership,verification_status,purpose,title,addr_state,earliest_cr_line
0,36 months,10.65%,10+ years,RENT,Verified,credit_card,Computer,AZ,Jan-1985
1,60 months,15.27%,< 1 year,RENT,Source Verified,car,bike,GA,Apr-1999
2,36 months,15.96%,10+ years,RENT,Not Verified,small_business,real estate business,IL,Nov-2001
3,36 months,13.49%,10+ years,RENT,Source Verified,other,personel,CA,Feb-1996
5,36 months,7.90%,3 years,RENT,Source Verified,wedding,My wedding loan I promise to pay back,AZ,Nov-2004

In [20]:
for column in non_numerical_data.columns:
    print(column)
    print('Top 5 values and their proportion as a decimal=')
    print(non_numerical_data[column].value_counts(normalize = True, dropna = False).head(5))
    print('number of unique values=', len(non_numerical_data[column].value_counts(normalize = True, dropna = False).index))
    print('-----')

term
Top 5 values and their proportion as a decimal=
 36 months    0.749655
 60 months    0.250345
Name: term, dtype: float64
number of unique values= 2
-----
int_rate
Top 5 values and their proportion as a decimal=
 10.99%    0.024017
 11.49%    0.020411
  7.51%    0.020040
 13.49%    0.019802
  7.88%    0.018582
Name: int_rate, dtype: float64
number of unique values= 371
-----
emp_length
Top 5 values and their proportion as a decimal=
10+ years    0.226540
< 1 year     0.119977
2 years      0.114198
3 years      0.106723
4 years      0.089068
Name: emp_length, dtype: float64
number of unique values= 11
-----
home_ownership
Top 5 values and their proportion as a decimal=
RENT        0.480967
MORTGAGE    0.442583
OWN         0.073773
OTHER       0.002598
NONE        0.000080
Name: home_ownership, dtype: float64
number of unique values= 5
-----
verification_status
Top 5 values and their proportion as a decimal=
Not Verified       0.432377
Verified           0.314495
Source Verified    0.253128
Name: verification_status, dtype: float64
number of unique values= 3
-----
purpose
Top 5 values and their proportion as a decimal=
debt_consolidation    0.470841
credit_card           0.130235
other                 0.098744
home_improvement      0.074515
major_purchase        0.055376
Name: purpose, dtype: float64
number of unique values= 14
-----
title
Top 5 values and their proportion as a decimal=
Debt Consolidation         0.054872
Debt Consolidation Loan    0.042387
Personal Loan              0.016541
Consolidation              0.012963
debt consolidation         0.012353
Name: title, dtype: float64
number of unique values= 18913
-----
addr_state
Top 5 values and their proportion as a decimal=
CA    0.179859
NY    0.095828
FL    0.071705
TX    0.069372
NJ    0.047211
Name: addr_state, dtype: float64
number of unique values= 50
-----
earliest_cr_line
Top 5 values and their proportion as a decimal=
Oct-1999    0.009410
Nov-1998    0.009384
Dec-1998    0.008801
Oct-2000    0.008801
Nov-2000    0.008297
Name: earliest_cr_line, dtype: float64
number of unique values= 514
-----

###### From these columns labelled as object we can see:

###### Categorical columns:
> ###### Home ownership, verification status, purpose and title

###### Numerical  columns:

> ###### Term, Int rate and emp_length,


###### For the other columns:
> ###### Earliest credit line might potentially have some unforseen correlation with approval (perhaps more loans are approved in December if there was christmas bonus for example). For now we shall remove this out given the large feature engineering required for the potentially little benefit.

> ###### The same logic applies for Address State

In [21]:
loans_2007 = loans_2007.drop(columns = ['addr_state','earliest_cr_line'])

### Feature Engineering - Numerical Conversions: Categories 

###### Title has 19k unique entries, Purpose has only 14. Lets preview some of these.

In [22]:
random.seed = 1
loans_2007[['title', 'purpose']].sample(20)

                                        title             purpose
27576                             At&T payoff         credit_card
25758                        Home Improvement    home_improvement
38752                         Paying off debt  debt_consolidation
30287                   EHS 2010 Lending Club  debt_consolidation
38260         Help Paying for College Credits         educational
34436             New Business Website Launch      small_business
17906      Home improvement & car restoration    home_improvement
38196                        Consolidate debt  debt_consolidation
39365                     Pay credit card off  debt_consolidation
28149                      Debt Consolidation         credit_card
32936                                Personal               other
26225                           Consolidation  debt_consolidation
25577                                personal               other
11773                 Credit Card Refinancing  debt_consolidation
15651                         Kitchen Remodel    home_improvement
5645                  Debt Consolidation Loan  debt_consolidation
31975  Earn as I learn real estate strategies         educational
38334                    Pay off College debt  debt_consolidation
36546                                     exp      major_purchase
1317                       Debt Consolidation  debt_consolidation

###### It seems that purpose has fixed categories and title allows for seemingly any text to describe in more detail. We shall drop title as too many variables can easily cause an imbalance in the train test sets and increase bias.

In [23]:
loans_2007 = loans_2007.drop(columns = ['title'])

###### In deciding whether to keep purpose, home ownership and verification status lets convert the categories to [dummy variables](https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html). By doing this we can have for instance a column of 1 (yes) or 0 (no) for a home ownership of mortgage (and similar columns for each possible result of home ownership)

In [24]:
purpose_dummies_dataframe = pd.get_dummies(loans_2007['purpose'], prefix = 'purpose')
purpose_dummies_dataframe['loan_status'] = loans_2007['loan_status']
purpose_dummies_dataframe.corr()['loan_status'].sort_values()

purpose_small_business       -0.078474
purpose_debt_consolidation   -0.020934
purpose_other                -0.015799
purpose_renewable_energy     -0.006878
purpose_house                -0.006255
purpose_educational          -0.005710
purpose_medical              -0.003972
purpose_moving               -0.002909
purpose_vacation              0.000003
purpose_wedding               0.019350
purpose_home_improvement      0.020961
purpose_car                   0.021304
purpose_major_purchase        0.029213
purpose_credit_card           0.043370
loan_status                   1.000000
Name: loan_status, dtype: float64

###### The correlations are quite revealing. Starting a small business and debts generally the worst returning loans, the exception here is a credit card which appears to be the best return on investment. As the effects are quite broad and the variable size is not too large we will convert these into dummy variables.

In [25]:
loans_2007 = pd.concat([loans_2007, purpose_dummies_dataframe.drop(columns = 'loan_status')], axis = 'columns')
loans_2007 = loans_2007.drop(columns = 'purpose')

In [26]:
home_ownership_dummies_dataframe = pd.get_dummies(loans_2007['home_ownership'], prefix = 'home_ownership')
home_ownership_dummies_dataframe['loan_status'] = loans_2007['loan_status']
home_ownership_dummies_dataframe.corr()['loan_status'].sort_values()

home_ownership_RENT       -0.020954
home_ownership_OTHER      -0.005884
home_ownership_OWN        -0.000654
home_ownership_NONE        0.003647
home_ownership_MORTGAGE    0.021960
loan_status                1.000000
Name: loan_status, dtype: float64

###### Loans for mortgages are more likely to be repaid, where as loans for rent are not. Loans to homeowners are 50:50 likely to be repaid. This is interesting and will also be made to dummie variables.

In [27]:
loans_2007 = pd.concat([loans_2007, home_ownership_dummies_dataframe.drop(columns = 'loan_status')], axis = 'columns')
loans_2007 = loans_2007.drop(columns = 'home_ownership')

In [28]:
verification_status_dummies_dataframe = pd.get_dummies(loans_2007['verification_status'], prefix = 'verification_status')
verification_status_dummies_dataframe['loan_status'] = loans_2007['loan_status']
verification_status_dummies_dataframe.corr()['loan_status'].sort_values()

verification_status_Verified          -0.042067
verification_status_Source Verified   -0.005193
verification_status_Not Verified       0.043985
loan_status                            1.000000
Name: loan_status, dtype: float64

###### An income source that is unverified is more likely to be repaid. This seems counterintuitive. You would expect that unverified incomes would have a higher interest rate applied given the unknown risk and if the income proportion were the same as verified then the higher rate would naturally be less likely to be repaid.

###### Perhaps the higher rates make the applicant more cautious in accepting the loan offer and only ones with more stable finances accept. 

###### Eitherway we will also accept these as dummy variables.

In [29]:
loans_2007 = pd.concat([loans_2007, verification_status_dummies_dataframe.drop(columns = 'loan_status')], axis = 'columns')
loans_2007 = loans_2007.drop(columns = 'verification_status')

### Feature Engineering - Numerical Conversions: String Numericals

###### Next lets convert the strings in employment length and interest rate into their numerical equivalents.

###### For employment length we will assume that n/a and <1year is equal to 0 years. For 10+ we will assume 10 years.

In [30]:
loans_2007['emp_length'].value_counts(dropna = False)

10+ years    8546
< 1 year     4526
2 years      4308
3 years      4026
4 years      3360
5 years      3207
1 year       3182
6 years      2180
7 years      1717
8 years      1444
9 years      1228
Name: emp_length, dtype: int64

In [31]:
emp_length_str_mapping = {
        "10+ years": 10,
        "9 years": 9,
        "8 years": 8,
        "7 years": 7,
        "6 years": 6,
        "5 years": 5,
        "4 years": 4,
        "3 years": 3,
        "2 years": 2,
        "1 year": 1,
        "< 1 year": 0,
        "n/a": 0
    }
loans_2007['emp_length'] = loans_2007['emp_length'].replace(emp_length_str_mapping)

In [32]:
loans_2007['emp_length'] = loans_2007['emp_length'].astype('float')

In [33]:
loans_2007['int_rate'] = loans_2007['int_rate'].str.rstrip('%').astype('float')

In [34]:
non_numerical_data['term'].value_counts(normalize = True, dropna = False).head(5).index

Index([' 36 months', ' 60 months'], dtype='object')

###### We will set 36 months and 60 months to the binary representations as there are only two variables here.

In [35]:
loans_str_mapping = {' 36 months':0, ' 60 months': 1}
loans_2007['term'] = loans_2007['term'].replace(loans_str_mapping)

###### Quick check to see all columns are now numerical.

In [36]:
loans_2007.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37724 entries, 0 to 39785
Data columns (total 37 columns):
term                                   37724 non-null int64
int_rate                               37724 non-null float64
installment                            37724 non-null float64
emp_length                             37724 non-null float64
annual_inc                             37724 non-null float64
loan_status                            37724 non-null int64
dti                                    37724 non-null float64
delinq_2yrs                            37724 non-null float64
inq_last_6mths                         37724 non-null float64
open_acc                               37724 non-null float64
pub_rec                                37724 non-null float64
revol_bal                              37724 non-null float64
total_acc                              37724 non-null float64
acc_now_delinq                         37724 non-null float64
delinq_amnt                            37724 non-null float64
purpose_car                            37724 non-null uint8
purpose_credit_card                    37724 non-null uint8
purpose_debt_consolidation             37724 non-null uint8
purpose_educational                    37724 non-null uint8
purpose_home_improvement               37724 non-null uint8
purpose_house                          37724 non-null uint8
purpose_major_purchase                 37724 non-null uint8
purpose_medical                        37724 non-null uint8
purpose_moving                         37724 non-null uint8
purpose_other                          37724 non-null uint8
purpose_renewable_energy               37724 non-null uint8
purpose_small_business                 37724 non-null uint8
purpose_vacation                       37724 non-null uint8
purpose_wedding                        37724 non-null uint8
home_ownership_MORTGAGE                37724 non-null uint8
home_ownership_NONE                    37724 non-null uint8
home_ownership_OTHER                   37724 non-null uint8
home_ownership_OWN                     37724 non-null uint8
home_ownership_RENT                    37724 non-null uint8
verification_status_Not Verified       37724 non-null uint8
verification_status_Source Verified    37724 non-null uint8
verification_status_Verified           37724 non-null uint8
dtypes: float64(13), int64(2), uint8(22)
memory usage: 5.4 MB

### Feature Engineering - Class Imbalance

###### As we saw before we have disproportionate amount of fully paid to charged off loans.

###### Recall the classification divide:

In [37]:
loans_2007['loan_status'].value_counts(normalize = True)

1    0.856723
0    0.143277
Name: loan_status, dtype: float64

###### For loans paid off to unpaid loans the ratio is ~6:1.

###### One method is to avoid the divide in the classes by ensuring proportions are similar in the train and test set.

###### Another is to use an error metric that can account for such an imbalance

### Error Metric

###### Recall that we want to know whether a loan is likely to be repaid. A repaid loan is a positive and unpaid is a negative.

###### A true positive will represent profit and a true negative is avoided loss.

###### A false positive is unavoided loss, a false negative is avoided profit.

###### Ideally we want to maximise profit and avoided loss while minimising unavoided loss and avoided profit.

###### We will attempt to minimise the false positive rate which is :
> False Positives / (False Positivies + True Negatives)

###### and maximise the true positive rate which is:
> True Positivies / (True Positives + False Negatives)

###### We can think of these as:
>False Positive Rate: "the percentage of the loans that shouldn't be funded that I would fund".

>True Positive Rate: "the percentage of loans that should be funded that I would fund".

###### Given average profits and average losses we would of course weight these accordingly into the error metric. We will look at this later

### Machine Learning - Logistical Regression
###### As this is a classification problem (0 or 1) we will use logistical regression ([like this](https://upload.wikimedia.org/wikipedia/commons/6/6d/Exam_pass_logistic_curve.jpeg))

In [38]:
def tpr_fpr_calculator(predictions, y_test):
    predictions = pd.Series(predictions)
    true_positives = len(predictions[(predictions ==1) & (y_test == 1)])
    true_negatives = len(predictions[(predictions ==0) & (y_test == 0)])
    false_positives = len(predictions[(predictions ==1) & (y_test == 0)])
    false_negatives = len(predictions[(predictions ==0) & (y_test == 1)])
    true_positive_rate = true_positives / (true_positives + false_negatives)
    false_positive_rate = false_positives / (false_positives + true_negatives)
    tpr_fpr_calculator_data_labels = {'true_positives':[true_positives],
                                    'false_negatives':[false_negatives], 
                                    'true_positive_rate':[true_positive_rate],  
                                    'false_positives':[false_positives], 
                                    'true_negatives':[true_negatives],
                                    'false_positive_rate':[false_positive_rate]}
    temp_dataframe = pd.DataFrame(data = tpr_fpr_calculator_data_labels)
    return (temp_dataframe)

###### Determine base line rates as a comparison by using all data in the model and predicting all loan_statuses

In [39]:
lr = LogisticRegression()
lr.fit(loans_2007.drop(columns = ['loan_status']), loans_2007['loan_status'])
baseline_predictions = lr.predict(loans_2007.drop(columns = ['loan_status']))
tpr_fpr_calculator(baseline_predictions, loans_2007['loan_status'])

,true_positives,false_negatives,true_positive_rate,false_positives,true_negatives,false_positive_rate
0,30576,3,0.999902,5082,2,0.999607

###### True positive rate is high, which is good. But False positive rate is high which means out of all the loans we should not be funding we are funding all the loans which will lose money. 

###### Now perform cross validation and see the error rate.

In [40]:
#randomise the data#
loans_2007 = loans_2007.sample(frac = 1)
#split into features and target#
features = loans_2007.drop(columns = ['loan_status'])
target = loans_2007['loan_status']
#Instantiate a linear regression model
lr = LogisticRegression()
#Use cross validation. 20% of the data is selected to be the test set and this is shuffled 5 times to cover all data#
lr_cross_val_predictions = cross_val_predict(lr, features, target, cv=5)

In [41]:
tpr_fpr_calculator(lr_cross_val_predictions, loans_2007['loan_status'])

,true_positives,false_negatives,true_positive_rate,false_positives,true_negatives,false_positive_rate
0,30575,4,0.999869,5084,0,1.0

###### A higher true positive rate. However the high false positive rate persists.

### Machine Learning - Logistical Regression with class balancing

###### One way to tackle this issue is to reduce the effect of the class imbalance.

###### Ideally the test and train sets will contain 1:1 ratios of rows for loan_status. Currently this ratio is 6:1

###### Methods to tackle this include:
> undersampling (where a massive reduction in the data is made to achieve the ratio)
> oversampling (repeat rows of the lower sized class)
> generate 'fake' data (impute new rows with the lower size class and create a larger dataset)

###### These techniques all have their issues in difficulty balancing.

###### A simpler technique to try is weighting the classifier to increase the importance of rightly predicting the smaller class. (in this case 6 times more important)

In [42]:
balanced_lr = LogisticRegression(class_weight = 'balanced')
#Use cross validation. 20% of the data is selected to be the test set and this is shuffled 5 times to cover all data#
balanced_lr_cross_val_predictions = cross_val_predict(balanced_lr, features, target, cv=5)
tpr_fpr_calculator(balanced_lr_cross_val_predictions, loans_2007['loan_status'])

,true_positives,false_negatives,true_positive_rate,false_positives,true_negatives,false_positive_rate
0,18970,11609,0.62036,3143,1941,0.618214

###### A drop in false positive rate but a drop false negative rate. We can see now the cause of this is false positives and true positives have dropped but true negatives and false negatives have increased

###### Recall that false positives is possibly the worst effect so reducing this is desirable.

### Machine Learning - Logistical Regression with variable class balancing
###### Our balancing has worked, but now lets try a range of values to see the best:

In [43]:
testing_range = np.arange(1,10,2)
for i in testing_range:
    penalty = {0: i, 1: 1}
    balanced_lr = LogisticRegression(class_weight = penalty)
    balanced_lr_cross_val_predictions = cross_val_predict(balanced_lr, features, target, cv=5)
    results = tpr_fpr_calculator(balanced_lr_cross_val_predictions, loans_2007['loan_status'])
    print('for a penalty ratio of:', i)
    print(results)
    print('\n')

for a penalty ratio of: 1
   true_positives  false_negatives  true_positive_rate  false_positives  \
0           30575                4            0.999869             5084

   true_negatives  false_positive_rate
0               0                  1.0


for a penalty ratio of: 3
   true_positives  false_negatives  true_positive_rate  false_positives  \
0           28096             2483              0.9188             4654

   true_negatives  false_positive_rate
0             430             0.915421


for a penalty ratio of: 5
   true_positives  false_negatives  true_positive_rate  false_positives  \
0           20930             9649            0.684457             3501

   true_negatives  false_positive_rate
0            1583             0.688631


for a penalty ratio of: 7
   true_positives  false_negatives  true_positive_rate  false_positives  \
0           16540            14039            0.540894             2742

   true_negatives  false_positive_rate
0            2342             0.539339


for a penalty ratio of: 9
   true_positives  false_negatives  true_positive_rate  false_positives  \
0            9428            21151            0.308316             1521

   true_negatives  false_positive_rate
0            3563             0.299174

###### The class balancer is not very fine tuning. Selecting a higher and higher penalty really means we will accept less loans and therefore less profit albeit with the benefit of less loss. But after all making no loss is as easy as accepting no loans. 

###### We must go further, lets move on to another model to see how that fairs.

### Machine Learning - Random Forests.

###### The ensemble of multiple decision trees is involved in this classification, lets see how it fairs.

In [44]:
balanced_forests = RandomForestClassifier(class_weight = 'balanced', random_state = 1)
balanced_lr_cross_val_predictions = cross_val_predict(balanced_forests, features, target, cv=5)
tpr_fpr_calculator(balanced_lr_cross_val_predictions, loans_2007['loan_status'])

,true_positives,false_negatives,true_positive_rate,false_positives,true_negatives,false_positive_rate
0,29547,1032,0.966251,4916,168,0.966955

In [45]:
balanced_forests = RandomForestClassifier(class_weight = 'balanced', random_state = 1,  max_depth=None, min_samples_split=1000)
balanced_lr_cross_val_predictions = cross_val_predict(balanced_forests, features, target, cv=5)
tpr_fpr_calculator(balanced_lr_cross_val_predictions, loans_2007['loan_status'])

,true_positives,false_negatives,true_positive_rate,false_positives,true_negatives,false_positive_rate
0,18646,11933,0.609765,3082,2002,0.606216

In [46]:
penalty = {0: 100, 1: 1}
balanced_forests = RandomForestClassifier(class_weight = 'balanced_subsample', random_state = 1)
balanced_lr_cross_val_predictions = cross_val_predict(balanced_forests, features, target, cv=5)
tpr_fpr_calculator(balanced_lr_cross_val_predictions, loans_2007['loan_status'])

,true_positives,false_negatives,true_positive_rate,false_positives,true_negatives,false_positive_rate
0,29579,1000,0.967298,4920,164,0.967742

###### Different variables similar outcomes. Lowering the false positive rate has the effect of lowering the true positive rate.

### Machine Learning - K Nearest Neighbours

In [47]:
from sklearn.neighbors import KNeighborsClassifier
KNN = KNeighborsClassifier(n_neighbors=2)
KNN_cross_val_predictions = cross_val_predict(KNN, features, target, cv=5)
tpr_fpr_calculator(KNN_cross_val_predictions, loans_2007['loan_status'])

,true_positives,false_negatives,true_positive_rate,false_positives,true_negatives,false_positive_rate
0,22556,8023,0.73763,3799,1285,0.747246

###### The same effect persists with K Nearest Neighbours. Our model is not getting better.

### Machine Learning - Other Classifiers:

###### Next we will look at some more classifiers:

In [49]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

classifiers = [AdaBoostClassifier(), GaussianNB(), QuadraticDiscriminantAnalysis()]

np.random.RandomState(1)

for classifier in classifiers:
    predictions = cross_val_predict(classifier, features, target, cv=5)
    results = tpr_fpr_calculator(predictions, loans_2007['loan_status'])
    print(classifier, ',Results')
    print(results)
    print('---')

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None) ,Results
   true_positives  false_negatives  true_positive_rate  false_positives  \
0           30307              272            0.991105             5044

   true_negatives  false_positive_rate
0              40             0.992132
---
GaussianNB(priors=None) ,Results
   true_positives  false_negatives  true_positive_rate  false_positives  \
0           30426              153            0.994997             5063

   true_negatives  false_positive_rate
0              21             0.995869
---
QuadraticDiscriminantAnalysis(priors=None, reg_param=0.0,
               store_covariance=False, store_covariances=None, tol=0.0001) ,Results
   true_positives  false_negatives  true_positive_rate  false_positives  \
0              57            30522            0.001864               14

   true_negatives  false_positive_rate
0            5070             0.002754
---

###### The inability to raise the true positive rate whilst lowering the false positive rate is highlighted by all the classifications we have performed.

###### Ultimately this tells us there is great overlap between good and bad investments and currently model predictions are not good enough.

###### Although the conclusion is disappointing, the journey was not.