# Exploring Ebay Car Sales Data

In this project we will be reviewing car sales within the German Ebay classifieds.

### Loading the data

In [1]:
import pandas as pd
import numpy as np

The data set is found here https://data.world/data-society/used-cars-data.
Our dataset contains 50,000 rows of cars listed on the German Ebay marketplace.
Our dataset has been made unclean to demonstrate the process of datacleaning

In [2]:
autos = pd.read_csv('autos.csv', encoding = "Latin-1") 
#Encoding here to interpret the data correctly#
#Another popular encoding is Windows-1252#

As an overview lets see which columns have null values

In [3]:
autos.isnull().sum()

dateCrawled               0
name                      0
seller                    0
offerType                 0
price                     0
abtest                    0
vehicleType            5095
yearOfRegistration        0
gearbox                2680
powerPS                   0
model                  2758
odometer                  0
monthOfRegistration       0
fuelType               4482
brand                     0
notRepairedDamage      9829
dateCreated               0
nrOfPictures              0
postalCode                0
lastSeen                  0
dtype: int64

We have a lot of null values. Additionally the dataset is in german and will need translation.

In [4]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

Lets rename the columns into a more readable format. We shall remove the snake case (vehicleType) in favour of camel case (vehicle_type) and name the columns something more appropriate for the descriptions

In [5]:
autos.columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_PS', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen']

Now a check to see its worked

In [6]:
autos.head(1)

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_PS,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54

### Data Overview

Next lets see a summary statistical overview of the dataset.

In [7]:
autos.describe(include = 'all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_PS,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-21 20:37:19,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

There are some interesting and suprising statistics on this screen.
Most popular car sold was the Ford Fiesta.
There is a car registration in the year 1000.
We shall look at this in more depth later.

### Data Cleaning - Converting Titles

All columns seem important at this stage with all having significant count of non null values.

Columns that need exploring: power_PS, registration month as they all have zero minima.

Numeric Data stored as text that needs cleaning: price, odometer, powerPS.
So lets now convert these to numeric.

In [8]:
autos["price"] = autos["price"].str.replace('$','').str.replace(",","")
autos["price"] = autos["price"]
autos["odometer"] = autos["odometer"].str.replace('km','')
autos["price"] = autos["price"].astype(float)
#Add on a check to see it has worked#
print(autos["price"].unique())
print(autos["odometer"].unique())

[ 5000.  8500.  8990. ...   385. 22200. 16995.]
['150,000' '70,000' '50,000' '80,000' '10,000' '30,000' '125,000' '90,000'
 '20,000' '60,000' '5,000' '100,000' '40,000']

In [9]:
autos["odometer"] = autos["odometer"].str.replace(",","")
autos["odometer"].astype(float)
autos.rename(columns= {"odometer": "odometer_km"}, inplace = True)

In [10]:
#Add on a check to see it has worked#
print(autos["odometer_km"].unique())

['150000' '70000' '50000' '80000' '10000' '30000' '125000' '90000' '20000'
 '60000' '5000' '100000' '40000']

### Data Cleaning - Removing Non Sensical Data

Lets see what the most expensive (>$1million) cars on the marketplace are.

In [11]:
top_cars =autos[autos["price"] >= 1000000].sort_values(by='price', ascending= False)
top_cars[['name','price','vehicle_type','registration_year','odometer_km','brand']]

,name,price,vehicle_type,registration_year,odometer_km,brand
39705,Tausch_gegen_gleichwertiges,99999999.0,limousine,1999,150000,mercedes_benz
42221,Leasinguebernahme,27322222.0,limousine,2014,40000,citroen
27371,Fiat_Punto,12345678.0,NaN,2017,150000,fiat
39377,Tausche_volvo_v40_gegen_van,12345678.0,NaN,2018,150000,volvo
47598,Opel_Vectra_B_1_6i_16V_Facelift_Tuning_Showcar...,12345678.0,limousine,2001,150000,opel
2897,Escort_MK_1_Hundeknochen_zum_umbauen_auf_RS_2000,11111111.0,limousine,1973,50000,ford
24384,Schlachte_Golf_3_gt_tdi,11111111.0,NaN,1995,150000,volkswagen
11137,suche_maserati_3200_gt_Zustand_unwichtig_laufe...,10000000.0,coupe,1960,100000,sonstige_autos
47634,Ferrari_FXX,3890000.0,coupe,2006,5000,sonstige_autos
7814,Ferrari_F40,1300000.0,coupe,1992,50000,sonstige_autos
22947,Bmw_530d_zum_ausschlachten,1234566.0,kombi,1999,150000,bmw

In [12]:
free_cars =autos[autos["price"] == 0]
free_cars[['name','price','vehicle_type','registration_year','odometer_km','brand']]

,name,price,vehicle_type,registration_year,odometer_km,brand
27,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,0.0,NaN,2005,150000,ford
71,Suche_Opel_Astra_F__Corsa_oder_Kadett_E_mit_Re...,0.0,NaN,1990,5000,opel
80,Nissan_Primera_Hatchback_1_6_16v_73_Kw___99Ps_...,0.0,coupe,1999,150000,nissan
87,Bmw_520_e39_zum_ausschlachten,0.0,NaN,2000,150000,bmw
99,Peugeot_207_CC___Cabrio_Bj_2011,0.0,cabrio,2011,60000,peugeot
118,VW_Sharan_V6_204_PS_Karosse_Rohkarosse_mit_Pap...,0.0,bus,2001,150000,volkswagen
146,Ford_Fiesta_rot,0.0,kleinwagen,1996,20000,ford
167,Suche_VW_Multivan_Innenausstattung_Set_oder_TE...,0.0,NaN,2011,5000,volkswagen
180,Zu_verkaufen,0.0,NaN,2016,150000,mazda
226,Porsche_911_S_Targa__67er_SWB,0.0,cabrio,1967,5000,porsche
234,Fiat_Punto_Sport,0.0,NaN,2016,150000,fiat
248,VW_Passat_zu_verkaufen,0.0,kombi,1998,150000,volkswagen
259,guenstiges_Auto_/_auch_defekt,0.0,NaN,2000,5000,sonstige_autos
301,Kaufe_alle_Autos_bietet_an,0.0,NaN,1990,5000,sonstige_autos
323,W220_Unfallfahrzeug,0.0,limousine,2001,150000,mercedes_benz
327,BMW_Cabrio_318i_/_BMW_318_tds_Touring,0.0,NaN,2016,150000,bmw
347,Volvo_TP21__Sugga,0.0,suv,1956,100000,volvo
366,Ford_Escort_Express_75__LKW_Zulussung___Diesel...,0.0,NaN,2000,90000,ford
389,Vw_polo_classic,0.0,limousine,1999,150000,volkswagen
418,Fiat_SCUDO_8_Sitzer_Bus__Diesel_JTD__80_KW,0.0,bus,2003,5000,fiat
427,TOP_ZUSTAND_GrunePlakette_Euro4!!!,0.0,bus,2005,80000,opel
430,Winterraeder_FORD,0.0,NaN,2007,5000,ford
449,Tausche_gegen_ein_smart.,0.0,limousine,2001,150000,volkswagen
487,MAG_MICH_KEINER_HABEN_Opel_Omega_B_Caravan_2.0...,0.0,kombi,1998,150000,opel
502,C32_AMG_C55_C43_w203,0.0,kombi,2001,150000,mercedes_benz
519,Verkaufe/Tausche_Seat_Inca__VW_Caddy__aus_2002...,0.0,andere,2002,150000,seat
565,Tausche_Audi_S3_8p_gegen_Golf_VI_Gti_mit_xenon,0.0,NaN,2016,150000,audi
593,CLK_200__BRABUS_Optik,0.0,coupe,1998,150000,mercedes_benz
660,Opel_Corsa_B,0.0,kleinwagen,1998,125000,opel
661,Renault_Megane_Scenic_1.6_Tuev_12/17,0.0,bus,1999,150000,renault
...,...,...,...,...,...,...
48882,SUCHE_AUTO,0.0,NaN,2000,150000,sonstige_autos
48889,Audi_A4_____TueV_09.2016,0.0,limousine,1995,150000,audi
48891,MB_E_220_CDI__TAUSCHEN_nur_SUV/GELÄNDEWAGEN,0.0,kombi,2001,150000,mercedes_benz
48982,Bmw_525D_Sport_Pro..Navi,0.0,limousine,2010,150000,bmw
48985,Stockcar_Autos_Peugeot,0.0,NaN,2007,5000,peugeot
49043,Opel_Vectra_B_Caravan,0.0,kombi,1997,150000,opel
49082,Passat_35i_b4_in_candy_weiss_original_lack,0.0,limousine,1996,150000,volkswagen
49254,Corrado_G60_mit_2e_Motor,0.0,NaN,1995,150000,volkswagen
49301,Golf_3_Variant_Kombi_1.8,0.0,NaN,2000,150000,volkswagen
49342,Audi_80_b4_S_Color_und_BMW_318ti_compact_Tausc...,0.0,NaN,2017,150000,audi
49350,Golf_II_Diesel,0.0,kleinwagen,1991,150000,volkswagen
49404,Golf_2_BBS_LEDER_KW,0.0,limousine,1989,150000,volkswagen
49408,OPEL_ASTRA,0.0,NaN,1995,150000,opel
49479,Tausch_mit_frischen_TÜV,0.0,limousine,1995,150000,audi
49496,Bmw_e39_520,0.0,limousine,1998,5000,bmw
49504,Meriva_Lpg_1_6_16v,0.0,bus,2004,150000,opel
49507,BMW_528i_E39_Schaltgetriebe_Unfall,0.0,limousine,1998,150000,bmw
49525,Bmw_e36_318_i_Limo_Ringtool_PS_Tuning,0.0,NaN,2000,150000,bmw
49538,Golf_3_mit_Tuev_.....PREISWERT!!!!,0.0,limousine,1998,150000,volkswagen
49551,Golf_IV_an_Bastler_zuverkaufen__reserviert_,0.0,NaN,2016,150000,volkswagen
49614,Verkauf_meine__Audi__A3_.Gegen_tauschen_mit_Di...,0.0,NaN,2016,150000,audi
49739,Reparaturfaelligen_twingo,0.0,NaN,2016,150000,renault
49755,Mercedes_Benz_w202_unfaller,0.0,limousine,1998,150000,mercedes_benz
49793,verkaufe_BMW_E_39,0.0,kombi,2000,150000,bmw
49880,E39_528i_an_Bastler,0.0,NaN,2017,150000,bmw
49884,Audi_a6_2.5l__Schnaeppchen_nur_heute,0.0,kombi,1999,150000,audi
49943,Opel_astra,0.0,NaN,2016,150000,opel
49960,Ford_KA_zu_verschenken_***Reserviert***,0.0,kleinwagen,1999,150000,ford
49974,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,0.0,cabrio,1983,150000,volkswagen
49984,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,0.0,NaN,2000,150000,sonstige_autos

There are 1421 cars listed as free. Its possible a car may be free as the person may feel the car is worthless or would cost more to scrap themselves.
One car listed as 99,999,999 or 100 million. 

This car is listed as a limosene. Even the very most expensive cars do not usually cost more than 10million. This seems especially true given ebay is a second hand car sale site. Its high price is excessive.

For cars above 1million only two seem 'reasonable' priced in two Ferraris.
The rest above 1million (9 results) include a Fiat Punto, Opel Vectra, and a VW golf and the high prices are laughable and probably a joke or at worst a con.

We will remove these 9 results.

In [13]:
autos = autos[(autos["price"] <= 1000000) | (autos["brand"] == 'sonstige_autos')]

### Data Cleaning - Dates From Strings

Now lets take a look at the dates_crawled, ad_created and last_seen columns. At the moment these are strings but we can can convert these into numerical to understand them quantitatively.

In [14]:
autos['date_crawled'].str[:10].value_counts(normalize = True, dropna = False).sort_index(ascending = True)

2016-03-05    0.025384
2016-03-06    0.013942
2016-03-07    0.035966
2016-03-08    0.033265
2016-03-09    0.033205
2016-03-10    0.032125
2016-03-11    0.032485
2016-03-12    0.036766
2016-03-13    0.015562
2016-03-14    0.036626
2016-03-15    0.033985
2016-03-16    0.029505
2016-03-17    0.031525
2016-03-18    0.013062
2016-03-19    0.034906
2016-03-20    0.037826
2016-03-21    0.037506
2016-03-22    0.032905
2016-03-23    0.032385
2016-03-24    0.029105
2016-03-25    0.031745
2016-03-26    0.032485
2016-03-27    0.031045
2016-03-28    0.034846
2016-03-29    0.034185
2016-03-30    0.033625
2016-03-31    0.031905
2016-04-01    0.033805
2016-04-02    0.035406
2016-04-03    0.038686
2016-04-04    0.036526
2016-04-05    0.013102
2016-04-06    0.003181
2016-04-07    0.001420
Name: date_crawled, dtype: float64

In [15]:
autos['ad_created'].str[:10].value_counts(normalize = True, dropna = False).sort_index(ascending = True)

2015-06-11    0.000020
2015-08-10    0.000020
2015-09-09    0.000020
2015-11-10    0.000020
2015-12-05    0.000020
2015-12-30    0.000020
2016-01-03    0.000020
2016-01-07    0.000020
2016-01-10    0.000040
2016-01-13    0.000020
2016-01-14    0.000020
2016-01-16    0.000020
2016-01-22    0.000020
2016-01-27    0.000060
2016-01-29    0.000020
2016-02-01    0.000020
2016-02-02    0.000040
2016-02-05    0.000040
2016-02-07    0.000020
2016-02-08    0.000020
2016-02-09    0.000040
2016-02-11    0.000020
2016-02-12    0.000060
2016-02-14    0.000040
2016-02-16    0.000020
2016-02-17    0.000020
2016-02-18    0.000040
2016-02-19    0.000060
2016-02-20    0.000040
2016-02-21    0.000060
                ...
2016-03-09    0.033225
2016-03-10    0.031865
2016-03-11    0.032785
2016-03-12    0.036606
2016-03-13    0.016923
2016-03-14    0.035226
2016-03-15    0.033745
2016-03-16    0.030005
2016-03-17    0.031205
2016-03-18    0.013722
2016-03-19    0.033845
2016-03-20    0.037866
2016-03-21    0.037706
2016-03-22    0.032765
2016-03-23    0.032185
2016-03-24    0.029085
2016-03-25    0.031885
2016-03-26    0.032565
2016-03-27    0.030905
2016-03-28    0.034966
2016-03-29    0.034145
2016-03-30    0.033445
2016-03-31    0.031905
2016-04-01    0.033805
2016-04-02    0.035086
2016-04-03    0.038926
2016-04-04    0.036886
2016-04-05    0.011842
2016-04-06    0.003261
2016-04-07    0.001280
Name: ad_created, Length: 76, dtype: float64

In [16]:
autos['last_seen'].str[:10].value_counts(normalize = True, dropna = False).sort_index(ascending = True)

2016-03-05    0.001080
2016-03-06    0.004421
2016-03-07    0.005361
2016-03-08    0.007581
2016-03-09    0.009842
2016-03-10    0.010762
2016-03-11    0.012522
2016-03-12    0.023804
2016-03-13    0.008981
2016-03-14    0.012802
2016-03-15    0.015883
2016-03-16    0.016443
2016-03-17    0.027924
2016-03-18    0.007421
2016-03-19    0.015743
2016-03-20    0.020703
2016-03-21    0.020723
2016-03-22    0.021583
2016-03-23    0.018583
2016-03-24    0.019563
2016-03-25    0.019203
2016-03-26    0.016963
2016-03-27    0.016023
2016-03-28    0.020863
2016-03-29    0.022344
2016-03-30    0.024844
2016-03-31    0.023824
2016-04-01    0.023104
2016-04-02    0.024884
2016-04-03    0.025364
2016-04-04    0.024624
2016-04-05    0.124300
2016-04-06    0.220995
2016-04-07    0.130941
Name: last_seen, dtype: float64

First ad_created in the data base is 2015-06-11.

First date crawled was 2016-03-05. Clearly the high percentage (0.025384 or 2.5%) of results is because of the older entries rather than a high proportion of these sales being on this day. 

Almost seems like date crawled is not relevant.

### Data Cleaning - Reviewing Registration Year

In [17]:
autos[autos["registration_year"] <= 1920].shape

(15, 20)

In [18]:
autos["registration_year"].describe()

count    49992.000000
mean      2005.073772
std        105.721119
min       1000.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

A mean of 2005 is not completely unreasonable given the database contains car sold in 2015 and 2016 although we might expect this to be lower given cars tend to be alot older.

From the 75% bracket we see 25% of cars have registrations beyond 2008, again seems reasonable.

Max is listed as 9999, clearly untrue. And there are 512 entries for 2018 registrations again, should not be possible.

Lowest is 1000, clearly untrue. Given cars only started being produced in the 1880's.

15 cars listed as before 1920's.
Only a few of these like 'Opel' could be real. Our cut-off will be 1920 to 2016.

In [19]:
autos = autos[autos["registration_year"].between(1920,2016)]

In [20]:
autos["registration_year"].describe()

count    48013.000000
mean      2002.821652
std          7.199126
min       1927.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       2016.000000
Name: registration_year, dtype: float64

In [21]:
autos["registration_year"].value_counts(normalize = True, ascending = False)

2000    0.069856
2005    0.062795
1999    0.062441
2004    0.057005
2003    0.056797
2006    0.056401
2001    0.056276
2002    0.052757
1998    0.051090
2007    0.047987
2008    0.046467
2009    0.043696
1997    0.042239
2011    0.034032
2010    0.033262
1996    0.030075
2012    0.027555
2016    0.027409
1995    0.027326
2013    0.016787
2014    0.013850
1994    0.013746
1993    0.009268
2015    0.008310
1990    0.008227
1992    0.008144
1991    0.007415
1989    0.003770
1988    0.002958
1985    0.002187
          ...
1974    0.000500
1966    0.000458
1977    0.000458
1969    0.000396
1975    0.000396
1965    0.000354
1964    0.000250
1963    0.000187
1959    0.000146
1961    0.000125
1956    0.000104
1958    0.000083
1937    0.000083
1962    0.000083
1950    0.000062
1954    0.000042
1941    0.000042
1934    0.000042
1957    0.000042
1951    0.000042
1955    0.000042
1931    0.000021
1953    0.000021
1943    0.000021
1938    0.000021
1939    0.000021
1927    0.000021
1929    0.000021
1948    0.000021
1952    0.000021
Name: registration_year, Length: 77, dtype: float64

This has had a vast impact with now the average car being registered in 2002 rather than 2005 and we have purged nearly 2000 anomolous or false entries.

### Data Analysis - Top Brands On The Market

Now lets perform some aggregation and explore the top 6 brands in this database.

In [22]:
top6brands = autos["brand"].value_counts(dropna = False, normalize = True).head(6)
top6brands

volkswagen       0.212172
bmw              0.110033
opel             0.108137
mercedes_benz    0.095370
audi             0.086414
ford             0.069794
Name: brand, dtype: float64

In [23]:
top6brands.index

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford'], dtype='object')

Above we can see the top 6 brands in our ebay listings with volkswagen (VW) as the most popular by a significant margin at 21%. Which is the same as the sum of the next two popular brands (BMW and Opel)

We said we would peform aggregation but how can we do this using loops?

Here is how:
- Identify the unique values we want to aggregate by
- Create an empty dictionary to store our aggregate data
- Loop over the unique values, and for each:
    - Subset the dataframe by the unique values
    - Calculate the mean of whichever column we're interested in
    - Assign the val/mean to the dict as k/v.
    
(Some modules have functions to do these steps for us like 'pandas.groupby')

In [24]:
print(autos["brand"].unique())

['peugeot' 'bmw' 'volkswagen' 'smart' 'ford' 'chrysler' 'seat' 'renault'
 'mercedes_benz' 'audi' 'sonstige_autos' 'opel' 'mazda' 'porsche' 'mini'
 'toyota' 'dacia' 'nissan' 'jeep' 'saab' 'volvo' 'mitsubishi' 'jaguar'
 'fiat' 'skoda' 'subaru' 'kia' 'citroen' 'chevrolet' 'hyundai' 'honda'
 'daewoo' 'suzuki' 'trabant' 'land_rover' 'alfa_romeo' 'lada' 'rover'
 'daihatsu' 'lancia']

In [25]:
mean_brand_price = {}
brands_in_top_20 = autos["brand"].unique()
top6_brands = top6brands.index
for row in top6_brands:
    selected_rows = autos[autos["brand"] == row]
    mean_price = selected_rows["price"].mean()
    mean_brand_price[row] = mean_price

In [26]:
mean_brand_price

{'audi': 9093.65003615329,
 'bmw': 8102.536248343744,
 'ford': 3949.42345568487,
 'mercedes_benz': 8485.239571958942,
 'opel': 2877.7224576271187,
 'volkswagen': 5426.382546382644}

Here is what the same code looks like in pandas.

In [27]:
topbrands = autos.groupby(by=["brand"]).mean()
topbrands["price"].sort_values(ascending=False)

brand
porsche           44553.467577
sonstige_autos    40002.024952
land_rover        19108.091837
jeep              11434.750000
jaguar            11176.197368
mini              10460.012048
audi               9093.650036
mercedes_benz      8485.239572
bmw                8102.536248
chevrolet          6488.981752
skoda              6334.919481
dacia              5915.528455
kia                5789.351906
volkswagen         5426.382546
hyundai            5308.539112
toyota             5115.333890
volvo              4757.108108
nissan             4664.891034
seat               4296.492554
mazda              4010.771664
suzuki             3995.757042
honda              3988.000000
alfa_romeo         3984.855346
ford               3949.423456
subaru             3765.038095
citroen            3699.935629
smart              3542.706587
mitsubishi         3333.800512
lancia             3246.365385
chrysler           3229.443182
saab               3211.649351
peugeot            3039.468265
opel               2877.722458
fiat               2711.801127
lada               2502.896552
renault            2396.206775
trabant            1572.851351
daihatsu           1556.382114
rover              1528.338462
daewoo             1019.861111
Name: price, dtype: float64

Porche, Sonstige_autos ('other cars'), Jaguars, Land rover, Jeeps and Minis have the highest average sale cost of >100000

Trabant,Daihatsu, Rover, and Daewoo all have a low sale cost of <2000.

### Data Analysis - Odometer Review

First we will convert the string into integers.

In [28]:
autos["odometer_km"] = autos["odometer_km"].astype(int)

Then we will calculate the mean mileage and mean price for each of the top brands.

In [29]:
topbrandsindex = topbrands.index
topbrandsindex

Index(['alfa_romeo', 'audi', 'bmw', 'chevrolet', 'chrysler', 'citroen',
       'dacia', 'daewoo', 'daihatsu', 'fiat', 'ford', 'honda', 'hyundai',
       'jaguar', 'jeep', 'kia', 'lada', 'lancia', 'land_rover', 'mazda',
       'mercedes_benz', 'mini', 'mitsubishi', 'nissan', 'opel', 'peugeot',
       'porsche', 'renault', 'rover', 'saab', 'seat', 'skoda', 'smart',
       'sonstige_autos', 'subaru', 'suzuki', 'toyota', 'trabant', 'volkswagen',
       'volvo'],
      dtype='object', name='brand')

In [30]:
mean_mileage_per_brand = {}
for row in topbrandsindex:
    selected_rows = autos[autos["brand"] == row]
    mean_mileage = selected_rows["odometer_km"].mean()
    mean_mileage_per_brand[row] = mean_mileage

And represent this in a table.

In [31]:
bmp_series = pd.Series(mean_brand_price)
bmm_series = pd.Series(mean_mileage_per_brand)

new_df = pd.DataFrame(bmp_series, columns =['mean_price'])
new_df['mean_mileage'] = bmm_series
new_df.sort_values(by='mean_price')

                mean_price   mean_mileage
opel           2877.722458  129224.768875
ford           3949.423456  124068.934646
volkswagen     5426.382546  128728.281143
bmw            8102.536248  132431.383684
mercedes_benz  8485.239572  130856.082114
audi           9093.650036  129287.780188

### Most Popular Models
Next we will look at the most common brand/model combinations on the market.

In [32]:
make_model = autos[["brand","model","price"]].groupby(by= ["brand","model"])
make_model = make_model.count().sort_values(by="price",ascending=False)[:10]
#Rename column to count for clarity#
make_model.rename(columns={"price":"count"})

                        count
brand         model
volkswagen    golf       3815
bmw           3er        2688
volkswagen    polo       1677
opel          corsa      1644
              astra      1388
volkswagen    passat     1388
audi          a4         1265
bmw           5er        1163
mercedes_benz c_klasse   1147
              e_klasse    981

In this German ebay market the top 10 models are all German manufactures. Perhaps this is not too suprising.

The volkswagen golf and BMW 3 series combined are as popular as the next 4 popular car models.

### Comparing Odometer Readings And Price.
It is well known that cars depreciate over time.
One factor is the mileage (or odometer reading)

Lets compare the odometer reading and price.
First lets review the first 5 rows.

In [33]:
autos[:5]

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_PS,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000.0,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500.0,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990.0,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350.0,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350.0,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

Next we will use the pandas cut function to assign the odomoter readings into 10 brackets (called bins) of equal size.

(Note we could use qcut to get an equal frequency distribution, but in this case it would actually split certain odometer values into two bins. This would be non-sensical in this project)

In [34]:
deciles = pd.cut(autos["odometer_km"], bins= 10)
deciles[:5]

0    (135500.0, 150000.0]
1    (135500.0, 150000.0]
2      (63000.0, 77500.0]
3      (63000.0, 77500.0]
4    (135500.0, 150000.0]
Name: odometer_km, dtype: category
Categories (10, interval[float64]): [(4855.0, 19500.0] < (19500.0, 34000.0] < (34000.0, 48500.0] < (48500.0, 63000.0] ... (92000.0, 106500.0] < (106500.0, 121000.0] < (121000.0, 135500.0] < (135500.0, 150000.0]]

Now lets join this deciles list (pandas calls this a series) to the autos database.

In [35]:
odometer_to_price = pd.concat([deciles, autos["price"]], axis=1)
#display first 5 rows#
odometer_to_price[:5]

            odometer_km   price
0  (135500.0, 150000.0]  5000.0
1  (135500.0, 150000.0]  8500.0
2    (63000.0, 77500.0]  8990.0
3    (63000.0, 77500.0]  4350.0
4  (135500.0, 150000.0]  1350.0

Finally perform the groupby function to get mean prices.

In [36]:
odometer_to_price_mean = odometer_to_price.groupby(by="odometer_km").mean()
odometer_to_price_mean

                             price
odometer_km
(4855.0, 19500.0]     13710.194276
(19500.0, 34000.0]    17174.599217
(34000.0, 48500.0]    15441.445000
(48500.0, 63000.0]    13519.483675
(63000.0, 77500.0]    10817.819850
(77500.0, 92000.0]     8903.513907
(92000.0, 106500.0]   12677.601233
(106500.0, 121000.0]           NaN
(121000.0, 135500.0]   6286.593548
(135500.0, 150000.0]   3718.333419

Odometer range between 106500 and 121000 gave a NaN result.

Lets have a look why.

In [37]:
odometer_filt = (106500.0 <= autos["odometer_km"]) & (autos["odometer_km"] <=121000.0)
odometer_high = autos[odometer_filt]
odometer_high[["price","odometer_km"]]

Empty DataFrame
Columns: [price, odometer_km]
Index: []

It is displaying Nan because there are no results in this range. So all is fine with our selection

We can see there is a clear drop in value when above 120000 km.
But the highest average value is for 19500 to 34000 km.

Lets now see how many of those cars lie in those bins.

In [38]:
#rename the price column to show it becomes counts#
odometer_to_price_counts= odometer_to_price.rename(columns={"price":"count"})
odometer_to_price_counts = odometer_to_price_counts.groupby(by="odometer_km").count()
odometer_to_price_counts

                      count
odometer_km
(4855.0, 19500.0]      1153
(19500.0, 34000.0]     1532
(34000.0, 48500.0]      800
(48500.0, 63000.0]     2144
(63000.0, 77500.0]     1199
(77500.0, 92000.0]     3092
(92000.0, 106500.0]    2109
(106500.0, 121000.0]      0
(121000.0, 135500.0]   4960
(135500.0, 150000.0]  31024

In [39]:
odometer_to_price_counts.sum()

count    48013
dtype: int64

There are 31000+ cars with more than 135500 miles. This is the majority of our cleaned dataset. As they are the cheapest cars they bring the average price of the market place way down.

Conversely the lowest set of cars (excluding the NaN) is the 34000 to 48500km car market. Which has the second highest average price.

Nearly 80% of cars on the market have done more than 92000km. 

### Comparing Damaged and Non Damaged Cars

In [40]:
#First convert the ja and nein in the rows to yes and no#
autos2 = autos[["brand","model","price","unrepaired_damage"]]
damaged = autos2.groupby(by="unrepaired_damage")
damaged.mean()

                         price
unrepaired_damage
ja                 2335.379937
nein               7549.058331

In [71]:
damaged_brand = autos2.groupby(by=["brand", "unrepaired_damage"])
#Having grouped by brand and unrepaired damage we can now apply a mean function#
#We also need 'unstack' to split the ya & nein rows to create columns#
damaged_brand2 = damaged_brand.mean().unstack()
#Remove the price main heading to leave ya and nein subheadings#
damaged_brand2 = damaged_brand2["price"]
#Work out the difference in price
damaged_brand2["price_lost_with_damage"] = (damaged_brand2["nein"]) - (damaged_brand2["ja"])
#Work out the percentage of value lost with damage#
damaged_brand2["%_price_lost_with_damage"] = (((damaged_brand2["nein"]) - (damaged_brand2["ja"])) *100) / (damaged_brand2["nein"])

#Next lets add on the topbrands average price from earlier#
topbrands = autos.groupby(by=["brand"]).mean()
damaged_brand2["mean_price"] = topbrands["price"]
#Finally sort the values by % price lost#
damaged_brand2.sort_values(by="price_lost_with_damage", ascending = False)

unrepaired_damage,ja,nein,price_lost_with_damage,%_price_lost_with_damage,mean_price
brand,,,,,
sonstige_autos,6187.823529,63327.965190,57140.141660,90.228924,40002.024952
porsche,13454.545455,50215.248000,36760.702545,73.206255,44553.467577
land_rover,5223.750000,21688.512821,16464.762821,75.914669,19108.091837
jeep,2549.900000,12626.000000,10076.100000,79.804372,11434.750000
jaguar,3999.900000,13792.724138,9792.824138,70.999927,11176.197368
audi,3181.379310,10763.899903,7582.520593,70.443990,9093.650036
mini,4595.000000,11067.973118,6472.973118,58.483817,10460.012048
bmw,3276.835648,9322.011258,6045.175610,64.848405,8102.536248
mercedes_benz,3865.471264,9711.511442,5846.040177,60.197017,8485.239572
kia,1973.522727,6844.203125,4870.680398,71.165047,5789.351906
chevrolet,3245.736842,7318.748744,4073.011902,55.651752,6488.981752
volvo,1762.255319,5722.223565,3959.968246,69.203312,4757.108108
hyundai,2375.948276,6176.994318,3801.046042,61.535528,5308.539112
mazda,1292.177778,5069.556452,3777.378674,74.511029,4010.771664
ford,1312.099078,5077.727108,3765.628030,74.159717,3949.423456
nissan,1926.691489,5687.166344,3760.474855,66.122118,4664.891034
skoda,3512.838235,7041.445902,3528.607666,50.111976,6334.919481
seat,1610.537634,5118.385580,3507.847946,68.534265,4296.492554
saab,456.125000,3895.779661,3439.654661,88.291817,3211.649351
suzuki,1326.413793,4707.800926,3381.387133,71.825194,3995.757042
honda,1538.567568,4847.632959,3309.065391,68.261467,3988.000000
volkswagen,3136.702643,6374.641044,3237.938400,50.794051,5426.382546
subaru,2040.782609,5276.934426,3236.151818,61.326360,3765.038095
alfa_romeo,1732.187500,4727.561086,2995.373586,63.359807,3984.855346
mitsubishi,1270.036364,4114.045627,2844.009264,69.129259,3333.800512
smart,1445.022222,3919.707753,2474.685531,63.134440,3542.706587
fiat,1068.335616,3424.477444,2356.141827,68.802959,2711.801127
citroen,1916.362319,4243.878205,2327.515886,54.844078,3699.935629
peugeot,1309.377551,3636.870576,2327.493025,63.997136,3039.468265
opel,1298.900322,3607.353864,2308.453542,63.992988,2877.722458
toyota,3247.785714,5546.195021,2298.409306,41.441192,5115.333890
trabant,496.125000,2698.068966,2201.943966,81.611849,1572.851351
chrysler,1838.625000,3863.689655,2025.064655,52.412715,3229.443182
renault,1073.285714,3050.960216,1977.674501,64.821380,2396.206775
dacia,4459.625000,6231.616822,1771.991822,28.435507,5915.528455
lada,1400.000000,3099.736842,1699.736842,54.834876,2502.896552
rover,710.384615,1857.810811,1147.426195,61.762274,1528.338462
daihatsu,659.545455,1711.783133,1052.237678,61.470268,1556.382114
lancia,2436.000000,3164.696970,728.696970,23.025806,3246.365385
daewoo,559.800000,1157.297872,597.497872,51.628702,1019.861111

Perhaps its hardly suprising but the the most expensive cars tend to show the greatest magnitude of price difference when comparing damaged and undamaged cars.

What is interesting is the % price lost which is best seen sorted below.

In [75]:
damaged_brand2[["%_price_lost_with_damage","mean_price"]].sort_values(by="%_price_lost_with_damage", ascending = False)

unrepaired_damage  %_price_lost_with_damage    mean_price
brand
sonstige_autos                    90.228924  40002.024952
saab                              88.291817   3211.649351
trabant                           81.611849   1572.851351
jeep                              79.804372  11434.750000
land_rover                        75.914669  19108.091837
mazda                             74.511029   4010.771664
ford                              74.159717   3949.423456
porsche                           73.206255  44553.467577
suzuki                            71.825194   3995.757042
kia                               71.165047   5789.351906
jaguar                            70.999927  11176.197368
audi                              70.443990   9093.650036
volvo                             69.203312   4757.108108
mitsubishi                        69.129259   3333.800512
fiat                              68.802959   2711.801127
seat                              68.534265   4296.492554
honda                             68.261467   3988.000000
nissan                            66.122118   4664.891034
bmw                               64.848405   8102.536248
renault                           64.821380   2396.206775
peugeot                           63.997136   3039.468265
opel                              63.992988   2877.722458
alfa_romeo                        63.359807   3984.855346
smart                             63.134440   3542.706587
rover                             61.762274   1528.338462
hyundai                           61.535528   5308.539112
daihatsu                          61.470268   1556.382114
subaru                            61.326360   3765.038095
mercedes_benz                     60.197017   8485.239572
mini                              58.483817  10460.012048
chevrolet                         55.651752   6488.981752
citroen                           54.844078   3699.935629
lada                              54.834876   2502.896552
chrysler                          52.412715   3229.443182
daewoo                            51.628702   1019.861111
volkswagen                        50.794051   5426.382546
skoda                             50.111976   6334.919481
toyota                            41.441192   5115.333890
dacia                             28.435507   5915.528455
lancia                            23.025806   3246.365385

There is a small caveat in that we cannot adjust for the extend of the damage.
Some cars may have been in huge accidents or disrepair. Some may just have minor dents. Therefore we can make observations but not predictions.

Here we see some suprising results. 
There are cheap (<$3000) cars that have a wide range of % price loss (between 23 and 82%). Clearly intial price of a car is no measure of how well the price of a damaged car is on the market.

Expensive brands(<$10000)(jaguar, porsche, land_rover, jeep, sonstige_autos) tend to have high percentage losses when damaged (71 to 90%). Perhaps because the owners tend to use them at high-speed or off-road. The exception to this is the Mini with 58% difference. This is a below average difference and could perhaps could be because the Mini is used for high-speed or off-road.

Sonstige_autos means 'other cars' and is some niche brands. They are they are very expensive, and with 90% loss with damage they depreciate rapidly. Lets have a look at these.

In [100]:
#to see more rows we need to change the default display settings#
pd.set_option('display.max_rows', 1000)
#Filter for only sonstige_autos and remove where unrepaired damage is missing ("Na")#
sonstige_filter = (autos["brand"] == "sonstige_autos") & (autos["unrepaired_damage"].notna())
sonstige = autos[sonstige_filter][["name","price","unrepaired_damage","vehicle_type","registration_year","odometer_km"]]
sonstige.sort_values(by=["unrepaired_damage","price"],ascending=False)

,name,price,unrepaired_damage,vehicle_type,registration_year,odometer_km
11137,suche_maserati_3200_gt_Zustand_unwichtig_laufe...,10000000.0,nein,coupe,1960,100000
47634,Ferrari_FXX,3890000.0,nein,coupe,2006,5000
7814,Ferrari_F40,1300000.0,nein,coupe,1992,50000
14715,Rolls_Royce_Phantom_Drophead_Coupe,345000.0,nein,cabrio,2012,20000
28090,Tesla_Model_X_P90D_Signature_Sondermodel__Neuw...,194000.0,nein,suv,2016,5000
22060,Tesla_Model_X90D_Autopilot_Leder_AHK_Kaltwette...,114400.0,nein,suv,2016,5000
49391,"Lamborghini_Gallardo_LP560_4_E_Gear_""Callisto_...",109999.0,nein,coupe,2008,30000
16964,Bentley_Continental_Supersports,105000.0,nein,coupe,2010,80000
3283,Melkus_RS1000_GT_Nr_129,80000.0,nein,andere,1980,5000
8446,Bentley_Continental_Flying_Spur_Speed,79999.0,nein,limousine,2011,60000
47406,Tesla_Model_S_85_KW,79500.0,nein,limousine,2014,30000
4045,Maserati_Ghibli_Automatik_S_Q4,72600.0,nein,limousine,2015,5000
49941,Maserati_Ghibli_Diesel_Automatik,62000.0,nein,limousine,2015,10000
16006,Bentley_Continental_GTC,60000.0,nein,cabrio,2008,150000
30121,Ferrari_360_Modena_F1___von_RONALDO_BRASIL_NOV...,59850.0,nein,coupe,1999,60000
40975,Bentley_Continental_Flying_Spur,55000.0,nein,limousine,2008,20000
2698,Ferrari_348_TB___Original_Zustand,54500.0,nein,coupe,1990,70000
34589,Lotus_Lotus_Elise_S,48850.0,nein,cabrio,2015,10000
33189,ALPINA_B10_Bi_Turbo_BiTurbo,48700.0,nein,limousine,1993,150000
29237,Dodge_Viper,46900.0,nein,cabrio,1993,60000
23260,AC_Andere,44200.0,nein,cabrio,1994,125000
27104,Aston_Martin_DB7_Vantage_v12,44000.0,nein,coupe,2004,40000
17098,Cadillac_CTS_V_Dt.Modell_Garantie_3/17_Magnafl...,42000.0,nein,limousine,2012,50000
24255,Rolls_Royce_Camargue,41900.0,nein,coupe,1976,50000
17215,Morgan_Andere,41500.0,nein,cabrio,2012,10000
13633,Pontiac_Bonneville,41000.0,nein,cabrio,1966,150000
10268,Corvette_Corvette_Coupe_C6_6_2_V8_AT_Performance,39890.0,nein,coupe,2011,30000
1524,Dodge__RAM_Laramie_1500_V8_HEMI_Crew_Cab_AHK,39500.0,nein,suv,2013,50000
21878,Rolls_Royce_Silver_Spur,39000.0,nein,limousine,1994,30000
43967,Lotus_Super_Seven_Caterham_R_500,37999.0,nein,cabrio,2002,5000
38406,ALPINA_touring,35900.0,nein,kombi,2011,70000
16487,Dodge_RAM,34980.0,nein,suv,2011,150000
14330,Triumph_TR4A_IRS__1965___original_/_unrestored,34900.0,nein,cabrio,1965,100000
38394,Corvette_82er_Collector_Edition__H_Zulassung__...,32900.0,nein,coupe,1982,40000
26472,Maserati_3200_GTA,29900.0,nein,coupe,2000,50000
41188,Lotus_Lotus_Elise_111R_in_ardent_red_MK2_Komo_Tec,29200.0,nein,cabrio,2005,30000
49271,Corvette_C6,28900.0,nein,cabrio,2005,90000
36822,Triumph_TR3_A,27900.0,nein,cabrio,1960,80000
20782,Plymouth_Plymouth_Roadrunner_Clone_1969,27000.0,nein,coupe,1969,100000
34194,Corvette_Corvette_Coupe_Automatik_Klappenauspuff,26900.0,nein,coupe,2006,125000
8541,Plymouth_Andere,26500.0,nein,coupe,1972,70000
27351,Maserati_Quattroporte_AM_330_mit_H_Kennz,26000.0,nein,limousine,1983,100000
25572,Hummer_H2,25990.0,nein,suv,2003,150000
26607,MG_Andere,25500.0,nein,cabrio,1937,50000
28227,Wartburg_Andere,25500.0,nein,cabrio,1966,5000
34930,Hummer_H2,25000.0,nein,suv,2005,150000
43952,TVR_Cerbera_4.5,25000.0,nein,coupe,1998,70000
20433,Dodge_RAM_Sport__Hemi__4x4,24999.0,nein,suv,2010,80000
32489,Cadillac_Escalade_6.2_V8_Sport_Luxury__LPG_Aut...,24900.0,nein,suv,2009,150000
33653,Corvette_C3_Stingray_Targa_mit_H_Kennzeichen,24900.0,nein,coupe,1975,30000
43065,Dodge_RAM,24500.0,nein,suv,2010,150000
2199,Super_Seven_VM_Cosworth_16V_Speedster___plus_S...,23900.0,nein,cabrio,1992,100000
12267,Ssangyong_Rexton_W_2.0_D20_DTR_4WD,23500.0,nein,suv,2015,20000
42095,Cadillac_Fleetwood,23500.0,nein,limousine,1974,60000
16574,Dodge_Challenger,22900.0,nein,coupe,2014,60000
30314,ALPINA_B3_Biturbo_Cabrio_Switch_Tronic,22500.0,nein,cabrio,2008,125000
34425,Dodge_Challenger,22500.0,nein,NaN,2016,40000
40077,Andere_Horch_Sachsenring_P2M_Kuebelwagen_DDR_N...,22500.0,nein,suv,1957,20000
37076,ALPINA_B12,21990.0,nein,limousine,1997,150000
3357,Triumph_TR6_Vergaser_95_PS_dunkelblau,21900.0,nein,cabrio,1974,40000
48818,Caterham_Lotus_Super_Seven_Linkslenker_mit_gru...,20950.0,nein,cabrio,1992,40000
16481,Abarth_595C_Tourismo_/_Automatik_/_Traumzustan...,20595.0,nein,cabrio,2015,20000
3110,Maserati_Quattroporte_DuoSelect,19990.0,nein,limousine,2005,125000
29082,MASERATI_QUATTROPORTE,19990.0,nein,limousine,2005,125000
8150,Andere_Andere_GAZ_Sobol,19800.0,nein,suv,2015,5000
36741,Triumph_GT6_MK1_Traum_zustand!!,19750.0,nein,coupe,1967,100000
17229,Lexus_CT_200h_Dynamic_Line,19600.0,nein,limousine,2011,70000
15,Corvette_C3_Coupe_T_Top_Crossfire_Injection,18900.0,nein,coupe,1982,80000
39765,Pontiac_Firebird_Formula_400___Tausch_moeglich!,18900.0,nein,coupe,1978,90000
27968,Dodge_RAM_Einzelstueck,18499.0,nein,suv,2005,150000
19620,Lexus_CT_200h_Executive_Line,17999.0,nein,limousine,2012,40000
39668,Maserati_Quattroporte,17990.0,nein,limousine,2005,125000
45731,Cadillac_Eldorado_Biarritz_Coupé__2._Hand_Orig...,17900.0,nein,limousine,1977,90000
2504,Dodge_Custom_880__Black_Plate__Absolute_Rarita...,17500.0,nein,limousine,1965,60000
11047,Andere_Simca_5_Fourgonette_Kombilimousine,17500.0,nein,kombi,1948,60000
49745,ALPINA_B12,17500.0,nein,limousine,1996,150000
3621,Alpina_B3_3.3__Baunr._215_/_275_Scheckheftgepf...,17499.0,nein,coupe,2001,100000
44995,Dodge_Caliber_2.4_SRT4_Turbo_mit_200km!!!!!!!!...,17499.0,nein,kombi,2008,100000
29225,Hummer_H2,17000.0,nein,suv,2003,150000
24648,Corvette_Corvette_C4_5_7_LT1_Jubilaeumsmod.40J...,16999.0,nein,cabrio,1993,50000
9320,Pontiac_Bonneville,16900.0,nein,limousine,1964,90000
33562,Cadillac_Fleetwood_Brougham_Stretchlimousine,16900.0,nein,limousine,1989,80000
38900,MG_MGB,16900.0,nein,cabrio,1980,100000
18320,MG_MGB_GT_MK_III_1.8l,15999.0,nein,coupe,1971,150000
38363,Corvette_C4,15950.0,nein,coupe,1990,40000
22027,Hummer_H2__6_0l__Leder__Bose__AHK__guter_Zustand,15900.0,nein,suv,2003,150000
30927,ALPINA_D3,15799.0,nein,limousine,2006,150000
2441,Abarth_500,15500.0,nein,coupe,2010,30000
32946,Cadillac_Calaise__Deville__top_Zustand,15500.0,nein,coupe,1969,100000
5770,Dodge_RAM,15000.0,nein,suv,2006,150000
16427,MG_MGB,15000.0,nein,cabrio,1980,150000
35293,Oldsmobile_Cutlass,15000.0,nein,coupe,1971,5000
42006,Cadillac_Eldorado_Cabrio_1985,14900.0,nein,cabrio,1985,150000
40712,Westfield_Super_Seven,14850.0,nein,cabrio,1989,30000
10091,Ssangyong_Korando_2.0_4WD,14500.0,nein,suv,2012,50000
23696,Cadillac_Fleetwood_7.7_Liter_V8,14500.0,nein,limousine,1968,5000
33916,GMC_Yukon__GMC__GMC_Yukon_Denali__V8__6.0L__SU...,14500.0,nein,suv,2002,90000
35932,Andere_Andere_1969_Chevrolet_Camaro,14500.0,nein,coupe,1969,40000
46840,Plymouth_Fury,14500.0,nein,limousine,1972,70000
49720,MG_Andere,14500.0,nein,coupe,1969,50000
24209,Lexus_CT_200h,13999.0,nein,limousine,2011,100000
2121,Dodge_Nitro_2.8_CRD_DPF_Automatik_SXT_4x4,13900.0,nein,suv,2008,125000
13366,Andere_Panhard_PL_17,13900.0,nein,limousine,1959,10000
26713,Barkas_B_1000_Neu_aufgebaut_im_Top_Zustand,13900.0,nein,bus,1980,20000
20044,Corvette_C3__Oldtimer_Abnahme_und_original_870...,13890.0,nein,cabrio,1981,90000
175,MG_MGB_GT,13800.0,nein,coupe,1972,20000
3356,Dodge_Nitro,13800.0,nein,suv,2008,125000
36632,Abarth_500_Esseesse,13800.0,nein,kleinwagen,2009,10000
41911,Hummer_H3,13750.0,nein,suv,2006,150000
40548,Lexus_GS_300_Luxury_Line,13600.0,nein,limousine,2005,150000
19489,Abarth_500,13500.0,nein,kleinwagen,2012,30000
33212,Lincoln_Town_Car_Stretchlimousine_14_Personen_...,13500.0,nein,limousine,1997,150000
25488,Lexus_IS_220d_Luxury_Line___Vollausstattung,13400.0,nein,limousine,2007,150000
22961,Dodge_RAM_1500_Quad_CAB_HEMI_SLT,13000.0,nein,suv,2004,150000
7538,Abarth_Punto_Evo,12950.0,nein,coupe,2012,50000
37167,Cadillac_CTS_3.6_AWD_Sport_Xenon_Bose_scheckhe...,12900.0,nein,limousine,2008,150000
42631,Cadillac_Escalade,12900.0,nein,suv,2001,150000
19306,Abarth_500_Abarth_Vollausstattung__1.Hand__Sch...,12800.0,nein,kleinwagen,2009,60000
32919,Lexus_IS_250_Aut._Sport_Luxury_Line,12800.0,nein,limousine,2006,60000
13159,Maserati_Ghibli_bj94_306_ps_biturbo_mit_deutsc...,12500.0,nein,coupe,1994,100000
15461,Lincoln_Town_Car,12500.0,nein,limousine,2002,150000
36477,Lexus_RX_400h__hybrid__Luxury,12500.0,nein,suv,2005,150000
38972,Dodge_RAM,12500.0,nein,suv,1979,40000
42663,Lexus_RX_400_Hybrid_Luxery,12500.0,nein,suv,2004,150000
25676,Morris_Minor_Traveller_Oldtimer__1962__Tacho_3...,12000.0,nein,kombi,1962,40000
6279,Triumph_TR6__ungeschweisster_Roadster_Tuev_09/17,11990.0,nein,cabrio,1975,50000
27992,Triumph_Spitfire__1a__Zustand_!_Osteraktion_bi...,11989.0,nein,cabrio,1978,50000
8565,Lexus_400_h_Luxory,11900.0,nein,suv,2005,150000
46154,Dogde_Nitro_Top_Auto,11900.0,nein,suv,2007,150000
47792,Cadillac_STS_4.6__V8_Luxury_Sport_EU_Version,11900.0,nein,limousine,2005,150000
26149,Plymouth_Andere,11750.0,nein,limousine,1967,60000
296,Dodge_Nitro_4.0_Automatik_R/T,11500.0,nein,suv,2007,100000
10582,Lexus_IS_250_Aut._Sport_Line,11500.0,nein,limousine,2007,125000
20829,Triumph_TR3_A,11450.0,nein,cabrio,1961,125000
6770,Dodge_Grand_Caravan_SXT,11200.0,nein,bus,2010,80000
1866,MICROCAR_M.GO_Dynamic_Mopedauto_Leichtkraftfah...,11000.0,nein,kleinwagen,2016,5000
21099,Andere_Andere,11000.0,nein,cabrio,1989,50000
20082,Dodge_D_200_H_Zulassung!!!,10950.0,nein,suv,1970,100000
44964,Corvette_C4__H_Zulassung,10900.0,nein,coupe,1985,90000
10644,MG_Midget,10500.0,nein,cabrio,1979,125000
23273,Abarth_Grande_Punto,10500.0,nein,coupe,2009,60000
38330,"Buick_Electra_225_limited_""Osterpreis""_mit_H_K...",10500.0,nein,limousine,1968,50000
23650,Abarth_OT_1000_Replica_auf_850_Special_m._H_Ke...,10400.0,nein,kleinwagen,1970,20000
13035,Ssangyong_Rexton_RX_270_XVT,9999.0,nein,suv,2007,100000
15515,Lexus_IS_250_Sport_Line,9999.0,nein,limousine,2006,150000
7294,YA126_DAF_Berge__Werstatt_und_Manschaft_Wagen,9990.0,nein,suv,1956,20000
8378,GMC_Vandura__TÜV_neu__SoKFZ_Buerofahrzeug,9900.0,nein,bus,1993,150000
19989,Dodge_RAM_1500_SLT_5_9l_V8_4X4_Benzin_/_Gas,9900.0,nein,suv,2000,150000
20816,Cadillac__Sedan_de_Ville,9900.0,nein,limousine,1983,70000
28717,1960_Nash_Metropolitan_Rockabella_Dream_Car_mi...,9900.0,nein,coupe,1960,70000
42579,Abarth_Grande_Punto,9850.0,nein,coupe,2009,70000
9815,Dodge_Magnum,9500.0,nein,kombi,2008,125000
11853,Dodge_Journey_2.0_CRD_SXT,9500.0,nein,bus,2008,125000
13708,Andere__Buggy_Quadix/XYJK800,9500.0,nein,suv,2015,5000
13872,MG_MG_TF_135,9500.0,nein,cabrio,2004,40000
25792,Andere_GAZ_Oldtimergelaendewagen_1941,9500.0,nein,suv,1941,40000
14885,Lexus_IS_220d_DPNR___Executive,9300.0,nein,limousine,2007,150000
42011,LKW__Verkauf,9300.0,nein,limousine,2008,150000
1763,DKW_1000_S_Coupe,9000.0,nein,coupe,1963,80000
35714,Dodge_Journey_2.0_CRD_DSG_R/T,8999.0,nein,bus,2008,125000
36246,Lexus_IS_220d_DPNR_Luxury_Line,8999.0,nein,limousine,2006,150000
27205,Dodge_RAM,8888.0,nein,suv,2002,150000
19030,Abarth_Grande_Punto,8800.0,nein,coupe,2008,80000
20013,Dodge_Journey_2.4_SE._Automatik__7_Sitzer__3_Z...,8800.0,nein,bus,2010,150000
25683,SportSLTQuadCab4x4,8555.0,nein,suv,2009,100000
11817,Strandbuggy/_Borossi_Joyner_BB_1100_Strassenzu...,8500.0,nein,cabrio,2009,20000
21105,MG_MGF_1.8i_VVC_/_Suplex_Fahrwerk,8500.0,nein,cabrio,1996,20000
43711,Lexus_IS_250_Sport_Line,8500.0,nein,limousine,2006,125000
44453,Piaggio_Porter,8500.0,nein,bus,2013,5000
47362,Cadillac_Deville,8500.0,nein,limousine,1997,150000
17861,Dodge_RAM,8499.0,nein,suv,2009,100000
11835,Isuzu_Single_Cab_4x2_MJ_2011_Schneeschild,8490.0,nein,suv,2010,150000
41058,Microcar_M_8_&_DCI_Motor_440_ccm,8200.0,nein,kleinwagen,2012,20000
41613,ALPINA_B3_3.3_Lim_LÜCKENLOS_SCHECKHEFTGEPFLEGT...,8200.0,nein,limousine,2000,150000
1081,Pontiac_Firebird_3.4___org._30.000_km___LPG,8000.0,nein,coupe,1995,30000
49139,Dodge_Dakota_3.9l_magnum_lpg,7999.0,nein,suv,2000,150000
888,Cadillac_SRX_3.6_V6_AWD,7900.0,nein,suv,2005,125000
5220,NSU_Andere,7900.0,nein,kleinwagen,1971,150000
8248,Mopedauto_Aixam,7800.0,nein,kleinwagen,2015,10000
35678,Dodge_Caliber___schwarz___Automatik___Navi/Sou...,7700.0,nein,NaN,2016,80000
17943,Maserati_Biturbo,7600.0,nein,coupe,1984,60000
45499,Lexus_IS_220d_DPNR_Luxury_Line,7600.0,nein,limousine,2007,150000
12244,Andere_Citycom_Cityel_Fact_4_mit_original_289_km,7500.0,nein,cabrio,2007,5000
43471,DKW_F11_Junior/_Oldtimer,7400.0,nein,limousine,1960,100000
48960,Aixam_City_Premium__LEDER__45km/h__ab_16_Jahren,7390.0,nein,kleinwagen,2012,20000
47445,1969er_Dodge_D200_Pickup_Autom._383cui,7300.0,nein,suv,1969,100000
6623,Maserati_222,7000.0,nein,coupe,1991,150000
30096,Dodge_ram_van_b250_V8,6995.0,nein,NaN,1985,150000
29206,Triumph_Spitvire_MK_IV,6900.0,nein,cabrio,1973,100000
658,Pontiac_Firebird,6800.0,nein,coupe,1991,100000
14176,Aixam_Crossline,6800.0,nein,kleinwagen,2011,30000
11976,Lincoln_Town_Car,6500.0,nein,limousine,1999,150000
35895,Dodge_Caliber_2.0_CRD_SXT_vieles_im_Wert_von_4...,6450.0,nein,kombi,2006,150000
7731,Lexus_IS_200,6250.0,nein,limousine,2005,150000
28482,Spitfire_1500,6100.0,nein,cabrio,1977,125000
36996,Dodge_Ram_van,5995.0,nein,NaN,1985,150000
18265,FREEWIEL_SHUTTLE_Invalidenfahrzeug_KRANKENFAHR...,5980.0,nein,andere,2003,10000
18483,Dodge_Dakota,5913.0,nein,suv,1999,150000
35867,Iveco_35_C_12_V_L_DPF_AGile_Maxi+Hoch+Lang_Zwi...,5895.0,nein,bus,2008,150000
31097,Brilliance_CamPro_1_6_SX_einmalig_in_Deutschla...,5750.0,nein,limousine,2010,5000
9475,Dodge_Ramcharger,5555.0,nein,suv,1985,150000
11757,Dodge_Caliber_2.0_CVT_SXT,5500.0,nein,kombi,2007,125000
18723,Iveco_Sprinter_3_5t_weiss_Park_Hilfe_Kamera,5500.0,nein,bus,2010,150000
18914,maserati_spyder._Raucherfahrzeug.,5500.0,nein,cabrio,1995,70000
29123,Buggy_500_ccm_allrad__nur_500_km_gelaufenmit_S...,5500.0,nein,NaN,2016,5000
30029,Dodge_Durango,5500.0,nein,suv,2000,150000
140,Ssangyong_Actyon_SUV_2.0_xdi2wd_55000_km,5400.0,nein,suv,2008,60000
7161,NSU_Prinz_4,5400.0,nein,kleinwagen,1970,20000
35960,MG_MGF_75_Limited_Edition,5200.0,nein,cabrio,2000,70000
37992,Ford_Galaxie_500_Cabrio__V8__6.4L__Oldtimer__U...,5000.0,nein,cabrio,1968,150000
49037,Ssangyong_Rexton_RX_270_Xdi,5000.0,nein,suv,2004,150000
28045,Dodge_Caliber_2.0_CVT_SXT,4990.0,nein,kombi,2009,150000
48221,Triumph_TR_7_Cabrio_H_Kennzeichen,4980.0,nein,cabrio,1980,100000
23226,MG_MGF_1.8i_LIMITED_EDITION,4950.0,nein,cabrio,2001,150000
39064,Andere_GAZ_69M_neues_H_Gutachten,4950.0,nein,suv,1965,100000
21298,Ssangyong_Actyon_SUV_bj_2008_55000km,4877.0,nein,suv,2008,60000
29824,Piaggio_Ape_50,4800.0,nein,andere,2014,5000
38218,MAN_LKW_7_5_mit_Kuehlkoffer_EZ_11.1999_Voll_Fu...,4700.0,nein,andere,1999,150000
9841,MOPEDAUTO_Ligier_X_Too_Leichtkraftfahrzeug_45k...,4680.0,nein,NaN,2006,50000
38472,MG_MG_TF_135,4500.0,nein,cabrio,2004,125000
45560,Ssangyong_Rexton_RX_270_Xdi_Automatik,4500.0,nein,suv,2005,150000
48932,Triumph_Spitfire,4500.0,nein,cabrio,1975,100000
152,Ssanyong_Rexton_2.7,4499.0,nein,suv,2005,150000
13140,Ssangyong_Kyron_Xdi_4WD_Automatik,4499.0,nein,suv,2006,150000
12747,"Lexus_LS_430_President_Line""Keyless""softclose_...",4444.0,nein,limousine,2001,150000
5012,Cadillac_Deville_Luxury_6_Sitzer_Business_Mega...,4300.0,nein,limousine,2004,150000
7353,Ssangyong_Kyron_200_Xdi_4x2_Automatik,4300.0,nein,suv,2009,150000
44390,Piaggio_APE_50_Heizung__Winterreifen__Radio,4300.0,nein,kleinwagen,2014,10000
12919,Dodge_Caliber_1.8_SE__8Fach_AHK_Klima_Scheckhe...,4239.0,nein,kombi,2007,150000
13931,Lexus_IS_200_Sport_Standheizung_Top,4099.0,nein,limousine,1999,150000
12144,Triumph_Spitfire,4000.0,nein,cabrio,1978,30000
1179,Andere_russ._LuAZ_967M_Schwimmwagen_NVA_GSSD_a...,3999.0,nein,suv,1987,5000
21092,Cadillac_Deville_DTS_4.6_Night_Vision_Infrarot...,3990.0,nein,limousine,2001,150000
9106,Cadillac_BLS_1.9_D_DPF_Automatik_Elegance,3950.0,nein,limousine,2007,150000
17874,Talbot_Tagora,3950.0,nein,limousine,1981,150000
29799,MG_MGF,3900.0,nein,cabrio,1998,100000
41784,Buick_Reatta_1988_sehr_selten!,3900.0,nein,coupe,1988,150000
38386,Verkaufe_hier_ein_Mopedauto__Aixam___Mini___Va...,3850.0,nein,kleinwagen,2005,20000
36710,Dodge_Avenger_2.0_SE,3800.0,nein,limousine,2007,150000
44786,MG_MG_TF_115,3800.0,nein,cabrio,2006,125000
45208,MG_MG_ZS_120,3800.0,nein,limousine,2006,150000
26455,Mopedauto_Micocar_MC2,3750.0,nein,andere,2005,60000
45848,Oldtimersammlung_3x_Zastava_1x_Skoda,3750.0,nein,NaN,1980,10000
6534,Elektroauto_CityEL_Factfour_48V,3500.0,nein,cabrio,2007,30000
6778,Iveco_Daily_Bus_TÜV_neu_LKW_Zulassung__kein_du...,3500.0,nein,bus,2003,150000
8372,Gmc_vandura,3500.0,nein,bus,1979,40000
12379,Pontiac_Grand_Le_Mans,3500.0,nein,limousine,1978,80000
47537,Wartburg_1.3,3500.0,nein,limousine,1989,70000
13752,Iveco_35_S_13_V_L_Cool_TÜV_NEU,3450.0,nein,bus,2001,150000
1102,Pontiac_Firebird_2_8L_V6_Targa__Tuev_07/2016,3400.0,nein,coupe,1988,80000
19655,Microcar_Virgo_2_45_kmh,3350.0,nein,kleinwagen,2005,20000
35627,Piaggio_APE_TM__TÜV_NEU__wenig_Kilometer_!!!,3333.0,nein,bus,2005,20000
29034,Wartburg_353W_Frontkuehler___sehr_Gepflegt,3280.0,nein,limousine,1987,90000
2573,Hanomag_rekord_15k_Suche_ersatz_teile,3000.0,nein,andere,1934,90000
35580,Andere_Daf_66_Variomatic_Super_de_Luxe,3000.0,nein,limousine,1974,40000
28956,MG_MGF_1.8i,2990.0,nein,cabrio,1999,70000
14542,Wartburg_Wartburg_1.3,2950.0,nein,limousine,1990,90000
1932,Verkaufe_unser_Wohnmobilbegleitfahrzeug_mit_Tr...,2900.0,nein,cabrio,2002,30000
18315,2er_pferdeanhaenger_boeckmann,2900.0,nein,suv,1994,10000
27772,Wartburg_Wartburg_353__2_Takter__Oldtimergutac...,2900.0,nein,limousine,1985,80000
40818,Buggy_Lucke_260,2900.0,nein,andere,2014,5000
1360,Buick_Riviera,2800.0,nein,coupe,1980,125000
29980,Suesser_Flitzer,2800.0,nein,kleinwagen,1999,125000
44463,Cadillac_STS,2750.0,nein,limousine,1999,150000
2787,Iveco__I__LKW_Geschl.Kasten,2500.0,nein,bus,2002,150000
5475,Pontiac_Firebird,2500.0,nein,coupe,1990,150000
40565,"Zastava_750___bj.1967_oldtimer_""fiat_600""",2500.0,nein,kleinwagen,1967,50000
13642,Chevrolet_matiz_1_0,2499.0,nein,limousine,2007,80000
7094,Borgward_isabella_restauration_Guenstiger_Oldt...,2460.0,nein,limousine,1960,60000
6451,Talbot__Simca__Solara_GL,2400.0,nein,limousine,1983,50000
12217,Andere_Elektromobil_City_El_Fact_Four,2400.0,nein,kleinwagen,2004,30000
9439,Asia_Motors_Rocsta_Hardtop_cabrio,2350.0,nein,suv,1996,100000
16164,Piaggio_Porter,2300.0,nein,bus,1993,50000
7292,Iveco_75_E14,2200.0,nein,kombi,1998,30000
33417,MG_ZT_MK1_Diesel_131_PS!!!,2099.0,nein,limousine,2004,150000
16238,Suche_sparsames_Auto!,2000.0,nein,NaN,2000,5000
33650,*_Ssyangyong_Rodius_270_XDI_aus_erste_hand_*_A...,1999.0,nein,suv,2006,150000
47821,Iveco_Andere,1999.0,nein,bus,1993,125000
42360,Cadillac_STS_4_6___LPG___RECHTSLENKER_!,1950.0,nein,limousine,2001,150000
20628,MG_MGF_1.8i,1800.0,nein,cabrio,2001,100000
24356,Lexus_GS_300_Edition,1750.0,nein,limousine,1997,150000
17015,MG_MGF_1.8i,1560.0,nein,cabrio,1998,150000
18996,GMC_Vandura_Chevrolet_G20_Womo_Standh_Ahk_A_Team,1500.0,nein,bus,1991,150000
23076,MG_Mercedes_C_180_mit_2_Jahren_TÜV_._bis_2018_...,1500.0,nein,limousine,1999,150000
46135,MG_MGF_1.8i,1500.0,nein,cabrio,1997,150000
45859,MG_ZR__Leder+Winterreifen_,1485.0,nein,kleinwagen,2004,150000
22056,Wartburg_Andere,1400.0,nein,limousine,1988,90000
15531,Dodge_grand_Caravan,1300.0,nein,bus,1998,20000
1393,Wartburg_353,1250.0,nein,kombi,1984,100000
6149,Pontiac_Firebird_Automatik,1000.0,nein,coupe,1992,150000
48287,Suche_Kleinwagen!!!,1000.0,nein,kleinwagen,2000,150000
25032,Opel_Corsa___1_2__16_V_,999.0,nein,kleinwagen,1999,150000
20143,Ssangyong_Musso_E23,990.0,nein,suv,1997,150000
4761,Reddbeat1976,899.0,nein,limousine,2000,150000
15798,Suche_Anfaengerauto,800.0,nein,NaN,2000,150000
18123,Suche_Pkw_mit_TÜV,750.0,nein,kombi,1997,5000
13948,Suche_guenstiges_Auto_automatik,700.0,nein,NaN,2016,150000
10323,Cadillac_Seville_STS_32V_Northstar_300_PS_Idea...,699.0,nein,limousine,1993,150000
20662,MAZDA_KNUTSCHKUGEL....TÜV_NEU,600.0,nein,kleinwagen,1996,100000
25015,Transporter_gesucht,600.0,nein,bus,1998,100000
18721,Pontiac_Trans_Sport_GMC_Mot__USA_,550.0,nein,bus,1994,150000
37186,Export_Haendler,501.0,nein,andere,1992,20000

Well sonstigue autos are definitely expensive!
We have a mixture of very fast cars, limousines, classic cars (lie the Melkus), luxury cars (like Bentley and Rolls Royce) and expensive import cars (like the America Dodge and Corvette)

Oddly there are some free cars in this list that seem to have no damage. 2 of which are buses. And one usually very expensive Maserati.

### Conclusion
- German car manufactures are disproportionately represented in this eBay Market. Which is hardly surprising given the eBay marketplace is German. Volkswagen is the most popular.
- Porche, Sonstige_autos ('other cars'), Jaguars, Land rover, Jeeps and Minis have the highest average sale cost of >100000
- Trabant,Daihatsu, Rover, and Daewoo all have a low sale cost of <2000.
- The volkswagen golf and BMW 3 series combined are as popular as the next 4 popular car models. The top 10 models are all German.
- There are 31000+ cars with more than 135500 miles. This is the majority of our cleaned dataset. As they are the cheapest cars they bring the average price of the market place way down.
- Conversely the lowest set of cars is the 34000 to 48500km car market. Which has the second highest average price.
- Nearly 80% of cars on the market have done more than 92000km.
- There are cheap (<3000 dollars) cars that have a wide range of % price loss from damage (between 23 and 82%).
- Expensive brands (<10000 dollars)(jaguar, porsche, land_rover, jeep, sonstige_autos) tend to have high percentage losses when damaged (71 to 90%).